.Full-beauty-filter-section{
    position: relative;

}

.Beauty-Main-firstcontainer{
    margin-bottom: 50px;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    /* user-select: none; */

 }

  
 .first-left-side1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
    line-height: 14px;
    margin-bottom: 40px;
    color:rgb(40, 44, 63)
    }

    .first-left-side1 p span{
        font-size: 16px;
        color:rgb(40, 44, 63);
        line-height: 14px;
        font-weight: 700;
    }

  .Beauty-Main-firstcontainer{
   margin-top: 20px;
  }   

  .first-left-side2 p{
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
    line-height: 14px;
     color:rgb(135, 139, 148)
    }

    .first-left-side2 p span{
        font-size: 20px;
        color:rgb(40, 44, 63);
        line-height: 14px;
        font-weight: 700;
    }

     

     
 

    


    

     

     

    










/* second section  */

.Filterimage-Conatiner{
    display: flex;
    margin-top: -40px;
    width:100%;
    position: relative;
    }

.FilterSection{
    flex-basis: 280px;
    height: 100%;
    position: sticky;
     top:-205px;
    transition: all 0.5s ease;
      
     
}


.Filter-title{
    margin-left: 30px;
    font-size: 20px;
    font-weight: 700;
    color:rgb(0, 0, 0);
    line-height: normal;
    margin-top: 20px;
}

.vertical-filter-section{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: 1px solid #edebef;
}
 
.gender-list{
    list-style-type: none;
    display: block;
    accent-color: red;
    padding-top: 10px;
    border-top: 1px solid #edebef;

}

.gender-list li{
    /* border-bottom:1px solid red; */
}

.vertical-filter-section .gender-list input[type="radio"]{
    margin: 0 10px 0 0;
    vertical-align:middle; 
    width:15px;
    height: 15px;
     
}
.gender-list  li label{
    font-size: 14px;
    font-weight: 700;
    align-self: center;
    vertical-align:middle;  
}



/* category section */

.filter-category-section{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: 1px solid #edebef;
    
}

.category-section-header{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
    display: block;

}

.category-searchbox-content{
    /* position: absolute;
    top: 12px;
    right: 14px;
    width: 30px;
    height: 30px;
    background-color: #f5f5f6;
    border-radius: 50%; */

    margin-right: 10px;
}


/* .category-searchbox-content-Searchshow{
    position: absolute;
    top: 12px;
    right: 14px;
    width: 80%;
    height: 30px;
    background-color: #f5f5f6;
    border-radius: 5px;
} */

.filter-category-section .filter-search-inputBox{

    display: block;
    font-size: 12px;
    height: 35px;
    width: 85%;
    position: absolute;
    top: 10px;
     margin-right: 20px;
    padding: 6px 33px 6px 14px;
     border: none;
     outline: none; 
     border: 1px solid gray;
      transition: 0.3s ease;
     border-radius: 15px;
    background-color: #f5f5f6;
    border: none;

}

 

.filter-category-section .filter-search-icon{
    display: inline-block;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 9px;
    z-index: 1;
    transform: scale(.7);
    margin-right: 10px;
    padding:5px 8px;
    border-radius: 50%;
    background-color: #f5f5f6;
}

.search-logo{
    width:25px;
    height:25px ;
}

.cancel-logo{
    width:25px;
    height:25px ;
}



.Category-products-list{
    list-style-type: none;
     
}
.Category-products-list label{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
    font-style: normal;
    /* display: list-item; */
    vertical-align: middle;
    
}


 
.Category-products-list input{
    margin: 0 16px 0 0;
   width:18px;
   height: 18px;
   vertical-align: middle;
   accent-color: red;
}

.Category-products-list .number{
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}

 .Category-more{
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    color: #ff3f6c;
    margin-left: 27px;
}



/* brands filter css */


.Brand-category-section{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: 1px solid #edebef;
    
}

.Brand-section-header  {


    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
    display: block;

}

/* .Brand-searchbox-content{
    position: absolute;
    top: 12px;
    right: 14px;
    width: 30px;
    height: 30px;
    background-color: #f5f5f6;
    border-radius: 50%;
} */

 
.Brand-category-section .Brand-search-inputBox{

    display: block;
    font-size: 12px;
    height: 35px;
    width: 85%;
    position: absolute;
    top: 10px;
     
    padding: 6px 33px 6px 14px;
     border: none;
     outline: none; 
     border: 1px solid gray;
      transition: 0.3s ease;
     border-radius: 15px;
    background-color: #f5f5f6;
   border: none;
}

 

.Brand-category-section .Brand-search-icon{
    display: inline-block;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 9px;
    z-index: 1;
    transform: scale(.7);
    margin-right: 10px;
    padding:5px 8px;
    border-radius: 50%;
    background-color: #f5f5f6;
}


.Brand-products-list{
    list-style-type: none;
     
}

.Brand-products-list li{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
    font-style: normal;
    /* display: list-item; */
    vertical-align: middle;
}


.Brand-Product {
    display: block;
    width: 95%;
    cursor: pointer;
    min-height: 17px;
    color: #282c3f;
    align-self: center;
}

.Brand-products-list input{
    margin: 0 16px 0 0;
   width:18px;
   height: 18px;
   vertical-align: middle;
   accent-color: red;
}

.Brand-products-list .number{
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}

 .Brand-more{
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    color: #ff3f6c;
    margin-left: 27px;
}

/* price filter */


.Price-filter-section{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: 1px solid #edebef;
    
}


.Price-header{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
    display: block;

}


.Price-products-list{
    list-style-type: none;
     
}

.Price-products-list input{
    margin: 0 16px 0 0;
   width:18px;
   height: 18px;
   vertical-align: middle;
   accent-color: red;
}


.Price-products-list li{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
    font-style: normal;
    /* display: list-item; */
    vertical-align: middle;
}


.Price-Product {
    display: block;
    width: 95%;
    cursor: pointer;
    min-height: 17px;
    color: #282c3f;
    align-self: center;
}


.Price-products-list .number{
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}


/* color filter */

.color-white-icon{
    width:15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left:15px;
    cursor: pointer;
    border: 0.5px solid gray;
    vertical-align: middle;
}


.color-Pink-icon{
    width:15px;
    height: 15px;
    background-color:pink;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 15px;
    cursor: pointer;
    border: 0.5px solid gray;
    vertical-align: middle;
   
}


.color-Multi-icon{
    width:15px;
    height: 15px;
    background-color: #00DBDE;
  background-image: linear-gradient(180deg, #00DBDE 0%, #FC00FF 33%, #2b791b 66%, #c11d3f 100%);

    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 15px;
    cursor: pointer;
    border: 0.5px solid gray;
    vertical-align: middle;
    
}

.color-Black-icon{
    width:15px;
    height: 15px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 15px;
    cursor: pointer;
    border: 0.5px solid gray;
    vertical-align: middle;
    
}


.color-Brown-icon{
    width:15px;
    height: 15px;
    background-color:brown;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 15px;
    cursor: pointer;
    border: 0.5px solid gray;
    vertical-align: middle;
    
}


.color-Red-icon{
    width:15px;
    height: 15px;
    background-color:Red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 15px;
    cursor: pointer;
    border: 0.5px solid gray;
    vertical-align: middle;
   
}

.color-Green-icon{
    width:15px;
    height: 15px;
    background-color:Green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 15px;
    cursor: pointer;
    border: 0.5px solid gray;
    vertical-align: middle;
   
}



 .color-filter-section{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: 1px solid #edebef;
    
}

.color-header{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
    display: block;

}

.color-searchinput-searchicon{
    /* position: absolute;
    top: 12px;
    right: 14px;
    width: 30px;
    height: 30px;
    background-color: #f5f5f6;
    border-radius: 50%; */
}

.color-searchinput-searchicon .color-input-search-input {

    display: block;
    font-size: 12px;
    height: 35px;
    width: 85%;
    position: absolute;
    top: 10px;
      
    padding: 6px 33px 6px 14px;
     border: none;
     outline: none; 
     border: 1px solid gray;
      transition: 0.3s ease;
     border-radius: 15px;
    background-color: #f5f5f6;
    vertical-align: middle;
    border: none;
}

 

.color-searchinput-searchicon .color-searhIcon{
    display: inline-block;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 9px;
    z-index: 1;
    transform: scale(.7);
    margin-right: 10px;
    padding:5px 8px;
    border-radius: 50%;
    background-color: #f5f5f6;
}



.color-filter-lists {
    list-style-type: none;
     
}
.color-filter-lists  li{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
    font-style: normal;
    
    vertical-align: middle;
}


.color-product-label  {
    display: block;
    width: 95%;
    cursor: pointer;
    min-height: 17px;
    color: #282c3f;
    align-self: center;
}

.color-filter-lists  input{
    margin: 0 0px 0 0;
   width:18px;
   height: 18px;
   vertical-align: middle;
  accent-color: red;
}

.color-product-label  .number{
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}

 .Color-more{
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    color: #ff3f6c;
    margin-left: 27px;
}


/* Discount-range */

.Discount-range-section{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: 1px solid #edebef;
    
}

.Discount-header{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
    display: block;

}


.Discount-range-lists  {
    list-style-type: none;
     
}
.Discount-range-lists   li{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
    font-style: normal;
    /* display: list-item; */
    vertical-align: middle;
}


.discount-range-label   {
    display: block;
    width: 95%;
    cursor: pointer;
    min-height: 17px;
    color: #282c3f;
    align-self: center;
}

.Discount-range-lists   input{
    margin: 0 13px 0 0;
   width:16px;
   height: 16px;
   vertical-align: middle;
   accent-color: red;
}


/* product display css */


.products-display-container-section .dropdown-dropdown-menu-conatiner{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
     margin-top: 20px;
      
}

.Filter-dropmenu{
    display: flex;
    justify-content: space-between; 
    float: left;
     
} 

.Bundles-btn{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 16px;
    background: transparent;
    color: rgb(54, 53, 53);
    cursor: pointer;
     position: relative;
}

.Filter-dropmenu :hover .Bundles-btn{
    background-color: #F5F4F2;
}
 
.dropdown-Bundles{
    display:flex;
    position: absolute;
    left:300px;
    margin-top:10px;
   
}

.Filter-dropmenu .checkbox{
     margin-right: 15px;
    vertical-align: middle;
    width:20px;
    height: 20px;
    accent-color: red;
    background-color: white;
}


.checkbox1 label{
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    vertical-align: middle;
    margin-right: 40px;
}
  

.arrowDown{
    font-size: 18px;
    vertical-align: middle;
    color: rgb(54, 53, 53);
     
}

.arrowUp{
    font-size: 18px;
    vertical-align: middle;

}

.Country-btn{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 16px;
    background: transparent;
    color: rgb(54, 53, 53);
    cursor: pointer;
    position: relative;
}


.dropdown-Country{
    display:flex;
    position: absolute;
    left:300px;
    margin-top:10px;
    
}


.checkbox2 label{
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    vertical-align: middle;
    margin-right: 40px;
}
.Filter-dropmenu :hover .Country-btn{
    background-color: #F5F4F2;
}

.Size-btn{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 16px;
    background: transparent;
    color: rgb(54, 53, 53);
    cursor: pointer;
    position: relative;
}

.Filter-dropmenu :hover .Size-btn{
    background-color: #F5F4F2;
}

.dropdown-Size{
    display:flex;
    position: absolute;
    left:300px;
    margin-top:10px;

}

.checkbox3 label{
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    vertical-align: middle;
    margin-right: 40px;
}

 .ShopCatagory-sort{
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: -7px;
    position: relative;
    top: 5px;
 }

 .Sort-sort-by {
    padding: 9px 14px;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    position: relative;
    width: 255px;
    
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d4d5d9;
 }

.Sort-sort-by  span{
    text-transform: capitalize;
    font-weight: 700;
    color: #282c3f; 
}
.sort-list {
    width: 175px;
     background-color: #fff;
     outline: none;
     border: none;
    position: absolute;
    /* top: 33px; */
    /* left: 1px; */
    /* margin: 0; */
    /* padding: 16px 0; */
    /* z-index: 2; */
    /* border: 1px solid #d4d5d9; */
     
     
}
 

 
 



.Beauty-card-Container{
    width:100%;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    /* overflow: scroll; */
    margin-top: 30px;
      
}

 

.Beauty-card-content{
display: grid;
grid-template-columns: auto auto auto auto;
 row-gap: 20px;
 column-gap: 20px;
 margin:0 20px;
  
 /* border-top: 1px solid #edebef;; */
 /* background-color: aqua; */
}

.Card-Card-Beauty{
    /* border: 2px solid red; */
    padding: 20px;
    cursor: pointer;

}

.Card-Card-Image :hover {
   transform: scale(1.03);
   transition: 0.3s ease-in-out;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
    
}

 .Beauty-hr{
    width: 100%;

 }

 /* .Card-Card-Image{
    border: none;
    outline: none;
    background: transparent;
 } */

.Beauty-Product-image{
    width : 180px;
    height : 200px;
    margin-left : 20px;
    margin-bottom : 15px;
     
}

.rating-rate span{
    font-size:15px;
    font-weight: bold;
   
}
.beauty-deatils-beauty{
    text-align: start;
    margin-left: 20px;
}
 

 .rating-rate .greenstar {
    width: 15px;
    height: 15px;
   margin: 0 4px;
}

.Bauty-Product-title{
    font-weight: bold;
    color:rgb(48, 47, 47);
    font-size: 20px;
}

.Beauty-Product-Discription header{
    font-size: 14px;
    color:grey;
}


.Beauty-Product-amount{
    display: flex;
}

.Beauty-Product-amount .newamount{
  font-size: 15px;
  align-self: center;
  font-weight: bolder;
}

.Beauty-Product-amount .oldamount{
     text-decoration: line-through;
     align-self: center;
     margin: 0 5px;
     color:gray;
     font-size: 13px;
     
}

.Beauty-Product-amount .offer{
    font-size: 14px;
    align-self: center;
    color: red;
}

.pagination-pagination{
    display: flex;
    justify-content: center;
    gap:160px;
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid #edebef;
    padding-top: 24px;
    padding-bottom: 50px;
    color: #282c3f;
    
}

.pagination-pagination .page p{
    align-self: center;
     
    cursor: pointer;  
    color: #535766;
    font-size: 14px;
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    cursor: default;
    font-weight: 400;


}

.Pagination-number{
    display: flex;
   justify-content: center;
    gap:15px;
    

}

.Pagination-number li{
text-decoration: none;
list-style-type: none;   
/* display:inline-block; */
padding: 10px 10px;
font-size: 16px;
font-weight: bold;
cursor: pointer;  
 
  
}
.Pagination-number li.active{
     
    font-weight: 700;
    color: #fff;
    letter-spacing: .4px;
    border-radius: 2px;
    background-color: #282c3f
}

.Pagination-number li:hover:not(.active){
     background-color: gray;
    border-radius: 2px;
    color: white;
     
}

.pagination-next{
   
    border-radius: 4px;
    border: 1px solid #d4d5d9;
    text-align: center;
    margin-left: 64px;
    padding: 10px 22px;
    display: flex;
}

.pagination-next li{
 list-style-type: none;
 font-weight: bolder; 
 cursor: pointer; 
 vertical-align: middle; 
}

 .pagination-pagination:hover .pagination-next  {
    border-color: black;
  }
     


 
 
  

 .pagination-next  .arrow-next{
    align-self: center;
    font-size: 20px;
    margin-bottom: -5px;
     
      
 }


@media screen  and (min-width :1150px)  and (max-width :1423px)
{
    .Full-beauty-filter-section{
        position: relative;
    
    }
    
      

    .FilterSection{
        flex-basis: 250px;
        height: 100%;
        position: sticky;
        top:-205px;
        transition: all 0.5s ease;
          
         
    }

    .Filterimage-Conatiner{
        padding-right: -50px;
    }

    .gender-list li{
        font-size: 12px;
    }

    .Category-products-list li{
        font-size: 12px;
    }

    .Brand-products-list li{
        font-size: 12px;
    }

    .Price-products-list li{
        font-size: 12px;
    }

    .color-filter-lists  li{
        font-size: 12px;
    }

    .Price-products-list li{
        font-size: 10px;
    }
   
    .Discount-range-lists   li{
        font-size:12px ;
    }

    .Category-products-list input{
        margin: 0 16px 0 0;
        width:12px;
       height: 12px;
    }

.filter-category-section .filter-search-inputBox{
    font-size: 12px;
    height: 25px;
    width: 80%;
    top:15px;
    
}

.filter-search-inputBox::placeholder {
    font-size: 10px;

}

.filter-category-section .filter-search-icon{
    padding:3px 3px;
    right: 18px;
    top: 11.5px;
}

.search-logo{
    width:20px;
    height:20px ;
}

.cancel-logo{
    width:20px;
    height:20px ;
}


.Brand-products-list input{
    margin: 0 16px 0 0;
    width:12px;
   height: 12px;
}

.Brand-category-section .Brand-search-inputBox{
font-size: 12px;
height: 25px;
width: 83%;
top:16px;
}

.Brand-search-inputBox::placeholder {
font-size: 10px;

}

.Brand-category-section .Brand-search-icon{
padding:3px 3px;
right: 18px;
top: 11.5px;
}

/* color */
.color-filter-lists  input{
    margin: 0 1px 0 0;
    width:14px;
   height: 14px;
}

.color-searchinput-searchicon .color-input-search-input{
font-size: 12px;
height: 25px;
width: 82%;
top:15px;

}

.color-input-search-input::placeholder {
font-size: 10px;

}

.color-searchinput-searchicon .color-searhIcon{
padding:3px 3px;
right: 18px;
top: 11.5px;
}
    



    .Beauty-card-content{
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
  column-gap: 0px;
  /* border: 2px solid red; */
    }


    .Card-Card-Beauty{
        /* border: 2px solid red; */
    /* padding: 5px; */
    cursor: pointer;
    }

    .Beauty-Product-image{
        width: 150px;
        height: 170px;
        margin-left: 20px;
        margin-bottom: 15px;
         /* border: 1px solid green; */
    }

   .pagination-pagination{
    gap:40px
   }   
   
   
   .pagination-pagination .page p{
    align-self: center;
    vertical-align: center;
    margin-top: 10px;
    
   }
   .Pagination-number{
    gap:10px;

   }
   
   .pagination-next{
    padding: 8px 18px;

   }


}


@media screen and (min-width: 991px) and (max-width: 1150px) 
{

    

     .FilterSection{
        flex-basis: 280px;
        height: 100%;
        position: sticky;
        top:-205px;
        transition: all 0.5s ease;
          
    }

    .Filter-title{
        font-size: 16px;
    }

    .gender-list li{
        font-size: 12px;
    }
    .vertical-filter-section .gender-list input[type="radio"]{
        width: 14px;
        height: 14px;
    }

    .filter-category-section .filter-search-inputBox{
    font-size: 12px;
    height: 25px;
    width: 85%;
    top:15px;
}

.filter-search-inputBox::placeholder {
    font-size: 8px;

}

.filter-category-section .filter-search-icon{
    padding:3px 3px;
    right: 8px;
    top: 11px;
}

.search-logo{
    width:20px;
    height:20px ;
}

.cancel-logo{
    width:20px;
    height:20px ;
}

.Category-products-list .number{
    font-size: 8px;
}

.Category-products-list label{
    font-size: 12px;
}


.Brand-products-list input{
    margin: 0 16px 0 0;
    width:12px;
   height: 12px;
}

.Brand-category-section .Brand-search-inputBox{
font-size: 12px;
height: 25px;
width: 85%;
top:15px;
}

.Brand-search-inputBox::placeholder {
font-size: 8px;

}

.Brand-category-section .Brand-search-icon{
padding:3px 3px;
right: 8px;
top: 11px;
}

.Brand-products-list label{
    font-size: 12px;
}

.Brand-products-list .number{
    font-size: 8px;
}

.Brand-products-list input{
    margin: 0 16px 0 0;
   width:18px;
   height: 18px;

}

.Price-products-list li{
    font-size: 12px;
}

/* color */
.color-filter-lists  input{
    margin: 0 1px 0 0;
    width:18px;
   height: 18px;
}

.color-searchinput-searchicon .color-input-search-input{
font-size: 12px;
height: 25px;
width: 85%;
top:15px;

}

.color-input-search-input::placeholder {
font-size: 8px;

}

.color-searchinput-searchicon .color-searhIcon{
padding:3px 3px;
right: 8px;
top: 11px;
}

.color-filter-lists  li{
    font-size: 12px;
}
    
.Discount-range-lists li{
    font-size: 12px;
}

.dropdown-Bundles{
    left:270px;
    margin-top:8px;
}

.Filter-dropmenu .checkbox{
    width:16px;
    height: 16px;
}

.dropdown-Country{
    left:270px;
    margin-top: 8px;
}


.dropdown-Size{
    left:270px;
    margin-top: 8px;
}

.checkbox3 label{
    margin-right: 30px;
}

    .Beauty-card-content{
        grid-template-columns: auto  auto auto;
        row-gap: 20px;
        column-gap: 0px;
        /* border: 2px solid red; */
          }


    .pagination-pagination{
        gap:5px
       }


       .pagination-pagination .page p{
        align-self: center;
        vertical-align: center;
        margin-top: 10px;
        margin-right:20px ;
        
       }
       .Pagination-number{
        gap:10px;
    
       }
       
       .pagination-next{
        padding: 5px 12px;
    
       }
    
}


@media screen and (min-width: 768px) and (max-width: 991px) 
{

    .first-left-side1 p{
        font-size: 14px;
    }

    .first-left-side1 p span{
        font-size: 14px;
    }

    .Beauty-Main-firstcontainer{
        margin-top: 15px;
       } 


       .first-left-side2 p{
        font-size: 14px;
       }


       .first-left-side2 p span{
        font-size: 14px;
       }

       .Filter-title{
        font-size: 14px;
       }

    
.gender-list li{
    font-size: 12px;

}

.vertical-filter-section .gender-list input[type="radio"]{
    width:12px;
    height: 12px;

}

.gender-list  li label{
    font-size: 12px;
}



.Category-products-list input{
    margin: 0 5px 0 0;
    width:12px;
   height: 12px;
   
}

.category-section-header{
    font-size: 12px;
    margin: 0 0 18px;
}

.Category-products-list .number{
    font-size: 8px;
}

.Category-more{
    font-size: 12px;
    margin-left: 15px;
}

.filter-category-section .filter-search-inputBox{
font-size: 12px;
height: 25px;
width: 82%;
top:15px;
/* border: 2px solid red; */

}

.filter-search-inputBox::placeholder {
font-size: 8px;

}

.filter-category-section .filter-search-icon{
padding:3px 3px;
right: 8px;
top: 11px;
padding:3px 3px;
}
.Category-products-list label{
    font-size: 12px;
}

.search-logo{
width:18px;
height:18px ;
}

.cancel-logo{
width:20px;
height:20px ;
background-color: transparent;
}


.Brand-section-header{
    font-size: 12px;
}


.Brand-products-list input{
margin: 0 8px 0 0;
width:12px;
height: 12px;
}


.Brand-products-list li{
    font-size: 12px;
    text-transform:capitalize;
}

.Brand-products-list .number{
    font-size: 8px;

}

.Brand-more{
    font-size: 12px;
    margin-left: 15px;
}

.Brand-category-section .Brand-search-inputBox{
font-size: 12px;
height: 25px;
width: 82%;
top:15px;
}

.Brand-search-inputBox::placeholder {
font-size: 8px;

}

.Brand-category-section .Brand-search-icon{
padding:3px 3px;
right: 8px;
top: 11px;
}

.Price-header{
    font-size: 12px;
}


.Price-products-list input{
    margin: 0 8px 0 0;
   width:12px;
   height: 12px;
}

.Price-products-list li{
    font-size: 12px;
} 

.Price-products-list .number{
    font-size: 8px;
}


/* color */
.color-white-icon{
    width:12px;
    height: 12px;
    margin-right: 2px;
    margin-left: 6px;

}

.color-Pink-icon{
    width:12px;
    height: 12px;
    margin-right: 2px;
    margin-left: 6px;

}

.color-Multi-icon{
    width:12px;
    height: 12px;
    margin-right: 2px;
    margin-left: 6px;


}

.color-Black-icon{
    width:12px;
    height: 12px;
    margin-right: 2px;
    margin-left: 6px;


}


.color-Brown-icon{
    width:12px;
    height: 12px;
    margin-right: 2px;
    margin-left: 6px;


}

.color-Red-icon{
    width:12px;
    height: 12px;
    margin-right: 2px;
    margin-left: 6px;


} 

.color-Green-icon{
    width:12px;
    height: 12px;
    margin-right: 2px;
    margin-left: 6px;


}

.color-filter-lists  input{
margin: 0 1px 0 0;
width:14px;
height: 14px;
}


.color-header{
    font-size: 12px;
}


.color-searchinput-searchicon .color-input-search-input{
font-size: 12px;
height: 25px;
width: 82%;
top:15px;

}

.color-input-search-input::placeholder {
font-size: 8px;

}

.color-filter-lists  li{
    font-size: 12px;
}

 
.color-searchinput-searchicon .color-searhIcon{
padding:3px 3px;
right: -3px;
top: 11px;
}
.color-filter-lists  input{

    margin: 0 0px 0 0;
    width:12px;
    height: 12px;
}

.color-product-label  .number{
font-size: 8px;
}

.Color-more{
    font-size: 12px;
    margin-left: 15px;
}

.Discount-header{
    font-size: 12px;
     margin-left: -10px;

}
.Discount-range-lists   li{
    font-size: 12px;
}

.Discount-range-lists   input{
    margin: 0 8px 0 0;
   width:12px;
   height: 12px;
}


.products-display-container-section .dropdown-dropdown-menu-conatiner{
    grid-template-columns: auto ;
    justify-content: center
}

.dropdown-Bundles{
    left:250px;
    margin-top: 8px;

}
.Filter-dropmenu .checkbox{
    width: 14px;
    height: 14px;
}

.dropdown-Country{
    left:250px;
    margin-top: 8px;
  margin-right: 10px;
}

.dropdown-Size{
    left:250px;
    margin-top: 0px; 
}
.checkbox3 .checkbox{
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.checkbox3 label{
    font-size: 12px;
    margin-right: 15px;
    text-transform: capitalize;
}


.ShopCatagory-sort{
    position: absolute;
    top:-80px;
    right: 0;
}

.Sort-sort-by{
    width:230px
}

.sort-list{
    width:150px;
    font-size: 14px;
   margin-top: 3px;
    
}


.Beauty-card-content{
    grid-template-columns: auto  auto auto;
    row-gap: 20px;
    column-gap: 0px;
    /* border: 2px solid red; */
      }

      .Beauty-Product-image{
        width: 110px;
        height: 140px;
        margin-left: 10px;
        margin-bottom: 15px;
         /* border: 1px solid green; */
    }

    .rating-rate span{
        font-size: 12px;
    }
    .rating-rate .greenstar {
        width: 12px;
        height: 12px;
    }
  
.Bauty-Product-title{
    font-size: 15px;
}

.Beauty-Product-Discription header{
    font-size: 12px;

}

.Beauty-Product-amount .newamount{
    font-size: 10px;
}

.Beauty-Product-amount .oldamount
{
    font-size: 9px;
}
.Beauty-Product-amount .offer{
    font-size: 7px;
}

.pagination-pagination{
    gap:0px;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
} 

   .pagination-pagination .page p{
    vertical-align: center;
    margin-top: 2px;
    margin-right: 15px;
     
     
   }
   .Pagination-number{
    gap:5px;

   }

   .Pagination-number li{
    font-size: 10px;
   padding: 2px 5px;

   }

 
.pagination-next{
    padding: 2px 10px;

   }

   .pagination-next li{
    font-size: 12px;
   }

   .pagination-next  .arrow-next{
    font-size: 12px;
    margin-bottom: -1.5px;
   }
}


@media screen and (max-width: 600px){

    .first-left-side1 p{
        font-size: 13px;
    }

    .first-left-side1 p span{
        font-size: 13px;
    }

    .first-left-side2{
        margin-top: -15px;
    }

    .first-left-side2 p{
        font-size: 13px;
       }


       .first-left-side2 p span{
        font-size: 13px;
       }


       .FilterSection{
        flex-basis: 260px;
       }

       .Filter-title{
        font-size: 14px;
       }  


       .vertical-filter-section .gender-list input[type="radio"]
       {
           margin: 0 8px 0 0;
           width: 12px ;
           height: 12px;
       
       } 
   
       .gender-list  li label{
           font-size: 12px;
       }
        
    .Category-products-list input{
        margin: 0 5px 0 0;
        width:12px;
        height: 12px;
    }
    
    .category-section-header{
        font-size: 12px;
        margin: 0 0 18px;
    }
    
    .Category-products-list .number{
        font-size: 7px;
    }
    
    .Category-more{
        font-size: 12px;
        margin-left: 15px;
    }
    
    .filter-category-section .filter-search-inputBox{
    font-size: 12px;
    height: 25px;
    width: 80%;
    top:15px;
    
    }
    
    .filter-search-inputBox::placeholder {
    font-size: 8px;
    
    }
    
    .filter-category-section .filter-search-icon{
    padding:3px 3px;
    right: 2px;
    top: 12px;
    padding:3px 3px;
    }
    
    .search-logo{
    width:18px;
    height:18px ;
    }
    
    .cancel-logo{
    width:20px;
    height:20px ;
    background-color: transparent;
    }

    .Category-products-list label{
        font-size: 10px;
    }
    
    
    .Brand-section-header{
        font-size: 12px;
    }
    
    
    .Brand-products-list input{
    margin: 0 8px 0 0;
    width:12px;
    height: 12px;
    }
    
    
    .Brand-products-list li{
        font-size: 12px;
        text-transform:capitalize;
    }
    
    .Brand-products-list .number{
        font-size: 7px;
    
    }
    
    .Brand-more{
        font-size: 12px;
        margin-left: 15px;
    }
    
    .Brand-category-section .Brand-search-inputBox{
    font-size: 12px;
    height: 25px;
    width: 80%;
    top:15px;
    }
    
    .Brand-search-inputBox::placeholder {
    font-size: 8px;
    
    }
    
    .Brand-category-section .Brand-search-icon{
    padding:3px 3px;
    right: 2px;
    top: 12px;
    }
    
    .Price-header{
        font-size: 12px;
    }
    
    
    .Price-products-list input{
        margin: 0 2px 0 0;
       width:10px;
       height: 10px;
    }
    
    .Price-products-list li{
        font-size: 8px;
    } 
    
    .Price-products-list .number{
        font-size: 7px;
    }
    
    
    /* color */
    .color-white-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    }
    
    .color-Pink-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    }
    
    .color-Multi-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    
    }
    
    .color-Black-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    
    }
    
    
    .color-Brown-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    
    }
    
    .color-Red-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    
    } 
    
    .color-Green-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    
    }
    
    .color-filter-lists  input{
    margin: 0 1px 0 0;
    width:14px;
    height: 14px;
    }
    
    
    .color-header{
        font-size: 12px;
    }
    
    
    .color-searchinput-searchicon .color-input-search-input{
    font-size: 12px;
    height: 25px;
    width: 80%;
    top:15px;
    
    }
    
    .color-input-search-input::placeholder {
    font-size: 8px;
    
    }
    
    .color-filter-lists  li{
        font-size: 12px;
    }
    
     
    .color-searchinput-searchicon .color-searhIcon{
    padding:3px 3px;
    right: 2px;
    top: 12px;
    }


    .color-filter-lists  input{
    
        margin: 0 0px 0 0;
        width:12px;
        height: 12px;

    }
    
    .color-product-label  .number{
    font-size: 8px;
    }
    
    .Color-more{
        font-size: 12px;
        margin-left: 15px;
    }
    
    .Discount-header{
        font-size: 12px;
         margin-left: -10px;
    
    }
    .Discount-range-lists   li{
        font-size: 12px;
    }
    
    .Discount-range-lists   input{
        margin: 0 8px 0 0;
       width:12px;
       height: 12px;
    }

    .products-display-container-section .dropdown-dropdown-menu-conatiner{
        grid-template-columns: auto ;
        justify-content: center
    }
    
    .dropdown-Bundles{
        left:200px;
        margin-top: 4px;
    
    }

    .Bundles-btn{
        font-size: 14px;
    }
    .Country-btn{
        font-size: 14px;
    }

    .Size-btn{
        font-size: 14px;
    }

    .dropdown-Bundles label{
        font-size: 14px;
    }
    .Filter-dropmenu .checkbox{
        width: 10px;
        height: 10px;
    }
    
    .dropdown-Country{
        left:200px;
        margin-top: 5px;
        margin-right: 10px;
    }

    .dropdown-Country label{
        font-size: 14px;
    }
    
    .dropdown-Size{
        left:200px;
        margin-top: 2px; 
    }
    .checkbox3 .checkbox{
        width: 10px;
        height: 10px;
        margin-right: 1px;
        vertical-align: middle;
        margin-top: 2px;
    }
    
    .checkbox3 label{
        font-size: 12px;
        margin-right:8px;
        text-transform: capitalize;
        vertical-align: middle;
    }
    
    
    .ShopCatagory-sort{
        position: absolute;
        top:-50px;
        right: 0;
    }
    
    .Sort-sort-by{
        width:180px;
    padding: 5px 7px;

    }

    .Sort-sort-by  span{
        font-size: 12px;
    }
    
    .sort-list{
        width:100px;
        font-size: 14px;
       margin-top: 3px;
        
    }
    
    
    .Beauty-card-content{
        grid-template-columns: auto auto   ;
        row-gap: 20px;
        column-gap: 10px;
        /* border: 2px solid red; */
          }
    
          .Beauty-Product-image{
            width: 80px;
            height: 130px;
            margin-left: 10px;
            margin-bottom: 15px;
             /* border: 1px solid green; */
        }
    
        .rating-rate span{
            font-size: 10px;
        }
        .rating-rate .greenstar {
            width: 10px;
            height: 10px;
        }
      
    .Bauty-Product-title{
        font-size: 12px;
    }
    
    .Beauty-Product-Discription header{
        font-size: 10px;
    
    }
    
    .Beauty-Product-amount .newamount{
        font-size: 8px;
    }
    
    .Beauty-Product-amount .oldamount
    {
        font-size: 8px;
    }
    .Beauty-Product-amount .offer{
        font-size: 5px;
    }





     .pagination-pagination{
        gap:0px;
        display:flex;
        justify-content: start;
       } 
    
       .pagination-pagination .page p{
        align-self: center;
        vertical-align: center;
        margin-left: 30px;
        
        font-size: 14px;
       }

       .Pagination-number{
        /* gap:2px;
        margin-left: 10px;
        margin-top: 20px;
        display: flex; */
        display: none;
    
       }
    
       /* .Pagination-number li{
        font-size: 10px;
       padding: 2px 5px;
       
    
       } */
    
       .pagination-pagination{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
         
      }


       


      .pagination-pagination .page p{
        
        margin-top: 5px;
       
      }
      .Pagination-number{
        display: none;
        
      }
      
      .pagination-next{
        vertical-align: middle;
       padding: 5px 10px;

      }
     
      .pagination-next p{
       font-size: 12px;
       

      }

      .pagination-next  .arrow-next{
       align-self: center;
       font-size: 12px;
       vertical-align: top;
       margin-top: 2.5px; 
       
         
    }

}


@media screen and (min-width: 601px) and (max-width:767px) {


    .first-left-side1 p{
        font-size: 13px;
    }

    .first-left-side1 p span{
        font-size: 13px;
    }

    .first-left-side2{
        margin-top: -15px;
    }

    .first-left-side2 p{
        font-size: 13px;
       }


       .first-left-side2 p span{
        font-size: 13px;
       }


      .FilterSection{
        flex-basis:auto;
       }
     
       .Filter-title{
        font-size: 14px;
       }
     
    
.vertical-filter-section .gender-list input[type="radio"]
    {
        margin: 0 8px 0 0;
        width: 12px ;
        height: 12px;
    
    } 

    .gender-list  li label{
        font-size: 12px;
    }
    
    
    .Category-products-list input{
        margin: 0 5px 0 0;
        width:12px;
       height: 12px;
    }
    
    .category-section-header{
        font-size: 12px;
        margin: 0 0 18px;
    }
    
    .Category-products-list .number{
        font-size: 7px;
    }
    
    .Category-more{
        font-size: 12px;
        margin-left: 15px;
    }
    
    .filter-category-section .filter-search-inputBox{
    font-size: 12px;
    height: 25px;
    width: 80%;
    top:15px;
    
    }
    
    .filter-search-inputBox::placeholder {
    font-size: 8px;
    
    }
    
    .filter-category-section .filter-search-icon{
    padding:3px 3px;
    right: 3px;
    top: 11.5px;
    padding:3px 3px;
    }
    
    .search-logo{
    width:16px;
    height:16px ;
    }
    
    .cancel-logo{
    width:16px;
    height:16px ;
    background-color: transparent;
    }
    .Category-products-list label{
        font-size: 12px;
    }
    
    
    .Brand-section-header{
        font-size: 12px;
    }
    
    
    .Brand-products-list input{
    margin: 0 8px 0 0;
    width:12px;
    height: 12px;
    }
    
    
    .Brand-products-list li{
        font-size: 10px;
        text-transform: capitalize;
    }
    
    .Brand-products-list .number{
        font-size: 7px;
    
    }
    
    .Brand-more{
        font-size: 12px;
        margin-left: 15px;
    }
    
    .Brand-category-section .Brand-search-inputBox{
    font-size: 12px;
    height: 25px;
    width: 80%;
    top:15px;
    }
    
    .Brand-search-inputBox::placeholder {
    font-size: 8px;
    
    }
    
    .Brand-category-section .Brand-search-icon{
    padding:3px 3px;
    right: 3px;
    top: 11px;
    }
    
    .Price-header{
        font-size: 12px;
    }
    
    
    .Price-products-list input{
        margin: 0 8px 0 0;
       width:12px;
       height: 12px;
    }
    
    .Price-products-list li{
        font-size: 10px;
    } 
    
    .Price-products-list .number{
        font-size: 7px;
    }
    
    
    /* color */
    .color-white-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    }
    
    .color-Pink-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    }
    
    .color-Multi-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    
    }
    
    .color-Black-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    
    }
    
    
    .color-Brown-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    
    }
    
    .color-Red-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    
    } 
    
    .color-Green-icon{
        width:12px;
        height: 12px;
        margin-right: 2px;
        margin-left: 6px;
    
    
    }
    
    .color-filter-lists  input{
    margin: 0 1px 0 0;
    width:14px;
    height: 14px;
    }
    
    
    .color-header{
        font-size: 12px;
    }
    
    
    .color-searchinput-searchicon .color-input-search-input{
    font-size: 12px;
    height: 25px;
    width: 82%;
    top:15px;
    
    }
    
    .color-input-search-input::placeholder {
    font-size: 8px;
    
    }
    
    .color-filter-lists  li{
        font-size: 12px;
    }
    
     
    .color-searchinput-searchicon .color-searhIcon{
    padding:3px 3px;
    right: -3px;
    top: 11px;
    }
    .color-filter-lists  input{
    
        margin: 0 0px 0 0;
        width:12px;
        height: 12px;
    }
    
    .color-product-label  .number{
    font-size: 8px;
    }
    
    .Color-more{
        font-size: 12px;
        margin-left: 15px;
    }
    
    .Discount-header{
        font-size: 12px;
         margin-left: -10px;
    
    }
    .Discount-range-lists   li{
        font-size: 12px;
    }
    
    .Discount-range-lists   input{
        margin: 0 8px 0 0;
       width:12px;
       height: 12px;
    }


    .products-display-container-section .dropdown-dropdown-menu-conatiner{
        grid-template-columns: auto ;
        justify-content: center
    }
    
    .dropdown-Bundles{
        left:200px;
        margin-top: 4px;
    
    }

    .dropdown-Bundles label{
        font-size: 14px;
    }
    .Filter-dropmenu .checkbox{
        width: 10px;
        height: 10px;
    }
    
    .dropdown-Country{
        left:200px;
        margin-top: 8px;
        margin-right: 10px;
    }

    .dropdown-Country label{
        font-size: 14px;
    }
    
    .dropdown-Size{
        left:200px;
        margin-top: 0px; 
    }
    .checkbox3 .checkbox{
        width: 10px;
        height: 10px;
        margin-right: 2px;
    }
    
    .checkbox3 label{
        font-size: 14px;
        margin-right: 15px;
        text-transform: capitalize;
    }
    
    
    .ShopCatagory-sort{
        position: absolute;
        top:-50px;
        right: 0;
    }
    
    .Sort-sort-by{
        width:230px
    }
    
    .sort-list{
        width:150px;
        font-size: 14px;
       margin-top: 3px;
        
    }
    
    .Beauty-card-content{
        grid-template-columns: auto auto   ;
        row-gap: 20px;
        column-gap: 30px;
        /* border: 2px solid red; */
          }
    
          .Beauty-Product-image{
            width: 145px;
            height: 140px;
            margin-left: 10px;
            margin-bottom: 15px;
             /* border: 1px solid green; */
        }
    
        .rating-rate span{
            font-size: 12px;
        }
        .rating-rate .greenstar {
            width: 12px;
            height: 12px;
        }
      
    .Bauty-Product-title{
        font-size: 14px;
    }
    
    .Beauty-Product-Discription header{
        font-size: 12px;
    
    }
    
    .Beauty-Product-amount .newamount{
        font-size: 8px;
    }
    
    .Beauty-Product-amount .oldamount
    {
        font-size: 8px;
    }
    .Beauty-Product-amount .offer{
        font-size: 5px;
    }

    .pagination-pagination{
         display: grid;
         grid-template-columns: auto auto;
         justify-content: space-around;
       
       }


       .pagination-pagination .page p{
        align-self: center;
        vertical-align: center;
        margin-top: 10px;
        margin-right:20px ;
        
        
       }
       .Pagination-number{
         display: none;
       }
       
       .pagination-next{
         vertical-align: middle;
       }
      
       .pagination-next p{
        font-size: 12px;
        

       }

       .pagination-next  .arrow-next{
        align-self: center;
        font-size: 12px;
        vertical-align: top;
        margin-top: 2.5px; 
          
     }
}