*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Iconic-container{
    width: 100%;
    display: flex;
     
    justify-content: center;
    margin-top: 70px;
    height: 270px;
    align-items: center;
    
      
}

.Iconic-Items{
    padding: 20px;
   background-color: rgb(255,127,80);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

 

.Img-Iconic-img{
    width: 240px;
    height: 250px;
    border: 3px solid white;
    border-radius: 25px;

}


 