*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Explore-main-container{
    width: 100%;
}

.explore-section-1{
    display: flex;
    margin-top: 100px;
    width: 100%;

}
.E1{
    width:350px;
    height: 500px;
    background-image: linear-gradient(white,  white, yellow ,yellow);
    
}
.E2{
    margin-top: 60px;
    width:320px;
    height: 600px;
    
}
.E3{
    width:380px;
    height: 650px;
    margin-top: 60px;
}
.E4{
    width:350px;
    height: 600px;
     
      
}


.explore-section-2{
    display: flex;
    margin-top: 50px;
    width: 100%;
    

}

.E21{
    width:350px;
    height: 680px;
    background-image: linear-gradient(white,  white, yellow ,yellow);
    
}
.E22{
    margin-top: 60px;
    width:350px;
    height: 620px;
    
}
.E23{
    width:700px;
    height: 580px;
    margin-top: 60px;
}


.explore-section-3{
    display: flex;
    margin-top: 50px;
    width: 100%;
    gap:15px;
    

}

.E31{
    width:380px;
    height: 680px;
    /* background-image: linear-gradient(white,  white, yellow ,yellow); */
    
}
.E32{
    margin-top: 80px;
    width:270px;
    height: 620px;
    
}
.E33{
    width:350px;
    height: 600px;
    margin-top: 60px;
}
.E34{
    width:350px;
    height: 580px;
    margin-top: 40px;
}


@media screen  and (min-width :1150px)  and (max-width :1423px)
{
    .E1{
        width:250px;
        height: 500px;
        
        
    }
    .E2{
        margin-top: 60px;
        width:300px;
        height: 600px;
        
    }
    .E3{
        width:300px;
        height: 650px;
        margin-top: 60px;
    }
    .E4{
         width:250px;
      margin-top: 50px;
              
          
    }
    
    
    .explore-section-2{
        display: flex;
        margin-top: 50px;
        width: 100%;
        
    
    }
    
    .E21{
        width:300px;
        height: 680px;
         
        
    }
    .E22{
        margin-top: 60px;
        width:300px;
        height: 620px;
        
    }
    .E23{
        width:500px;
        height: 580px;
        margin-top: 60px;
    }
    
    
    .explore-section-3{
        display: flex;
        margin-top: 50px;
        width: 100%;
        gap:15px;
        
    
    }
    
    .E31{
        width:280px;
        height: 680px;
        /* background-image: linear-gradient(white,  white, yellow ,yellow); */
        
    }
    .E32{
        margin-top: 80px;
        width:240px;
        height: 620px;
        
    }
    .E33{
        width:290px;
        height: 600px;
        margin-top: 60px;
    }
    .E34{
        width:270px;
        height: 580px;
        margin-top: 40px;
    }
}


@media screen and (min-width: 991px) and (max-width: 1150px) 
{

    .E1{
        width:200px;
        height: 400px;
        
        
    }
    .E2{
        margin-top: 60px;
        width:260px;
        height: 500px;
        
    }
    .E3{
        width:260px;
        height: 550px;
        margin-top: 60px;
    }
    .E4{
         width:250px;
      margin-top: 50px;
              
          
    }
    
    
    .explore-section-2{
        display: flex;
        margin-top: 50px;
        width: 100%;
        
    
    }
    
    .E21{
        width:250px;
        height: 580px;
         
        
    }
    .E22{
        margin-top: 60px;
        width:250px;
        height: 520px;
        
    }
    .E23{
        width:450px;
        height: 500px;
        margin-top: 60px;
    }
    
    
    .explore-section-3{
        display: flex;
        margin-top: 50px;
        width: 100%;
        gap:15px;
        
    
    }
    
    .E31{
        width:230px;
        height: 580px;
        /* background-image: linear-gradient(white,  white, yellow ,yellow); */
        
    }
    .E32{
        margin-top: 80px;
        width:200px;
        height: 520px;
        
    }
    .E33{
        width:250px;
        height: 550px;
        margin-top: 60px;
    }
    .E34{
        width:240px;
        height: 510px;
        margin-top: 40px;
    }

}


@media screen and (min-width: 768px) and (max-width: 991px) 
{
    .E1{
        width:150px;
        height: 300px;
        
        
    }
    .E2{
        margin-top: 40px;
        width:200px;
        height: 400px;
        
    }
    .E3{
        width:210px;
        height: 450px;
        margin-top: 30px;
    }
    .E4{
         width:180px;
      margin-top: 50px;
      height: 400px;
              
          
    }
    
    
    .explore-section-2{
        display: flex;
        margin-top: 50px;
        width: 100%;
        
    
    }
    
    .E21{
        width:150px;
        height: 400px;
         
        
    }
    .E22{
        margin-top: -15px;
        width:180px;
        height: 420px;
        
    }
    .E23{
        width:350px;
        height: 400px;
        margin-top: 60px;
    }
    
    
    .explore-section-3{
        display: flex;
        margin-top: 50px;
        width: 100%;
        gap:15px;
        
    
    }
    
    .E31{
        width:170px;
        height: 480px;
        /* background-image: linear-gradient(white,  white, yellow ,yellow); */
        
    }
    .E32{
        margin-top: 50px;
        width:150px;
        height: 420px;
        
    }
    .E33{
        width:190px;
        height: 450px;
        margin-top: 40px;
    }
    .E34{
        width:180px;
        height: 410px;
        margin-top: 30px;
    }
}


@media screen and (max-width:600px)
{
    .E1{
        width:110px;
        height: 200px;
        
        
    }
    .E2{
        margin-top: 40px;
        width:120px;
        height: 200px;
        
    }
    .E3{
        width:120px;
        height: 200px;
        margin-top: 30px;
    }
    .E4{
         width:120px;
      margin-top: 50px;
      height: 200px;
              
          
    }
    
    
    .explore-section-2{
        display: flex;
        margin-top: 50px;
        width: 100%;
        
        
    
    }
    
    .E21{
        width:140px;
        height: 250px;
         
        
    }
    .E22{
        margin-top: -15px;
        width:100px;
        height: 270px;
        
    }
    .E23{
        width:240px;
        height: 200px;
        margin-top: 60px;
    }
    
    
    .explore-section-3{
        display: flex;
        margin-top: 50px;
        width: 100%;
        gap:15px;
        
    
    }
    
    .E31{
        width:120px;
        height: 380px;
        /* background-image: linear-gradient(white,  white, yellow ,yellow); */
        
    }
    .E32{
        margin-top: 50px;
        width:100px;
        height: 320px;
        
    }
    .E33{
        width:115px;
        height: 350px;
        margin-top: 40px;
    }
    .E34{
        width:100px;
        height: 310px;
        margin-top: 30px;
    }

}

@media screen and (min-width: 601px) and (max-width:767px) {


    .E1{
        width:140px;
        height: 200px;
        
        
    }
    .E2{
        margin-top: 40px;
        width:150px;
        height: 200px;
        
    }
    .E3{
        width:150px;
        height: 200px;
        margin-top: 30px;
    }
    .E4{
         width:150px;
      margin-top: 50px;
      height: 200px;
              
          
    }
    
    
    .explore-section-2{
        display: flex;
        margin-top: 50px;
        width: 100%;
        
    
    }
    
    .E21{
        width:150px;
        height: 250px;
         
        
    }
    .E22{
        margin-top: -15px;
        width:160px;
        height: 270px;
        
    }
    .E23{
        width:250px;
        height: 200px;
        margin-top: 60px;
    }
    
    
    .explore-section-3{
        display: flex;
        margin-top: 50px;
        width: 100%;
        gap:15px;
        
    
    }
    
    .E31{
        width:120px;
        height: 380px;
        /* background-image: linear-gradient(white,  white, yellow ,yellow); */
        
    }
    .E32{
        margin-top: 50px;
        width:140px;
        height: 320px;
        
    }
    .E33{
        width:130px;
        height: 350px;
        margin-top: 40px;
    }
    .E34{
        width:130px;
        height: 310px;
        margin-top: 30px;
    }
}