*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .Explore-main-container{
    display: inline-block;
    margin-top: 70px;
 }
 

 .E1-section,.E2-section,.E3-section{
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: none;
 }

 .Explore-main-container img{
    width: 700px;
    height: 600px;
 }
 


 