*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Kidspace-container{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    gap:50px;
}


.space1img{
    width: 675px;
    height: 400px;
}

.space2img{
    width: 680px;
    height: 400px;
}

 