*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Kidspace-container{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    gap:50px;
}


.space1img{
    width: 675px;
    height: 400px;
}

.space2img{
    width: 680px;
    height: 400px;
}

@media screen  and (min-width :1150px)  and (max-width :1423px)
{
    .space1img{
        width: 530px;
        height: 400px;
    }
    
    .space2img{
        width: 530px;
        height: 400px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1150px) 
{
    .space1img{
        width: 450px;
        height: 350px;
    }
    
    .space2img{
        width: 450px;
        height: 350px;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) 
{
    .space1img{
        width: 330px;
        height: 300px;
    }
    
    .space2img{
        width: 330px;
        height: 300px;
    }
}
@media screen and (max-width:600px)
{

    .space1img{
        width: 200px;
        height: 230px;
    }
    
    .space2img{
        width: 200px;
        height: 230px;
    }

}

@media screen and (min-width: 601px) and (max-width:767px) {

    .space1img{
        width: 220px;
        height: 230px;
    }
    
    .space2img{
        width: 220px;
        height: 230px;
    }
}