 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Footer-container{
 background-color: rgb(245,245,245);
 font-family: "Assistant", sans-serif;
}

.Footer-container-Footer{
    display: flex;
    justify-content: center;
    gap: 70px;
    

}


.footer-mobile-Container{
    display: none;
}

.online-online header{
    font-size: 12px;
    color:rgb(40, 44, 63);
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 15px;

}

.online-online li{
    font-size: 14px;
    color:rgb(40, 44, 63);
    font-weight: 400;
    line-height: 30px;
    color: rgb(105, 107, 121);
   list-style-type: none;
}

.customer-Policies header{
    font-size: 12px;
    color:rgb(40, 44, 63);
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 15px;
}


.customer-Policies li{
    font-size: 14px;
    color:rgb(40, 44, 63);
    font-weight: 400;
    line-height: normal;
    color: rgb(105, 107, 121);
   list-style-type: none;
   line-height: 30px;
}


.Playstore{
    width: 300px;;
    height: 50px;
}

 

.original-logo{
    width:50px;
    height: 50px;
    position: relative;
   

}
.original-first{
    display: flex;
}
.days14-recive{
    text-align: end;
    margin-top: -25px;
}

.days14-first{
    display: flex;
    gap: 10px;
}

.days14-logo{
    width: 50px;
    height: 50px;
}


.Store-Store header{
    font-size: 12px;
    color:rgb(40, 44, 63);
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 15px;
}


.Social-media header{
    font-size: 12px;
    color:rgb(40, 44, 63);
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
}



.Social-media .logo{
      margin-right: 20px;
      color: gray;
}

.original  span{
    font-size: 20px;
    color:rgb(40, 44, 63);
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.original p{
    font-size: 20px;
    color: rgb(105, 107, 121);
    font-weight: 400;
    line-height: normal;
    font-style: normal;
}

.original{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px;
}



.days14  span{
    font-size: 20px;
    color:rgb(40, 44, 63);
    font-weight: 700;
    line-height: normal;
     
}

.original .Guarantee{
    text-align: center;

    margin-top: -20px;
}


.days14 p{
    font-size: 20px;
    color: rgb(105, 107, 121);
    font-weight: 400;
    line-height: normal;
    font-style: normal;
}


.POPULAR-SEARCHES{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.POPULAR-SEARCHES .p-seaches p{
font-size: 12px;
font-weight: 700;
line-height: normal;
color:rgb(40, 44, 63);
margin-left: 180px;     
     
}

.POPULAR-SEARCHES .p-seaches{
    display: flex;
}

.Popular-brand{
     align-self: center;
     
}

.Popular-brand p{
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    color:rgb(105, 107, 121);
    
}

.Flipkart {
    display: flex;
    justify-content: center;
    gap:90px;
    margin-top: 20px;
}

.contact-us p{
    color: rgb(105, 107, 121);
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
}

.contact-us  span{
    color: rgb(82, 108, 208);
    font-weight: 700;
}



.url p{
    color: rgb(105, 107, 121);
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
}

.Flipkart-company header{
    color: rgb(105, 107, 121);
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
}


.Register-Address-conatiner{
    display: flex;
    justify-content: center;
    gap:500px;
    margin-top: 50px;
}


.register-address header{
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color:rgb(40, 44, 63);
}
.register-address p{
     font-size: 15px;
     font-weight: 400;
     color:rgb(148, 150, 159);
     line-height: 20px;

}

.telephone-address p{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color:rgb(148, 150, 159);
}

.telephone-address{
     align-self: flex-end;
}

.telephone-address p span{
    color:rgb(82, 108, 208);
    font-weight: 700;
}

.ONLINE-SHOPPING{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 180px;
    margin-right: 180px;
}


.ONLINE-SHOPPING  header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}

.ONLINE-SHOPPING p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
    justify-content: center;
 
} 

.Best-SHOPPING{

    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 180px;
    margin-right: 180px;

}

.Best-SHOPPING  header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}


.Best-SHOPPING p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 
} 

.online-shoping-list {
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 10px;

}

.online-shoping-list span{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    

}

.online-shoping-list  li{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;

}


.para-para {
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 10px;

}


.para-para p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;

}


.AFFORDABLE {
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 10px;

}


.AFFORDABLE  header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}

.AFFORDABLE  p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;

}

.MYNTRA-INSIDER{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 10px;

}


.MYNTRA-INSIDER p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;
}


.MYNTRA-INSIDER   header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}




.insider-container{
    display: flex;
    justify-content: center;
    /* /* margin-top: 50px ; */
    margin-left: -350px;
    /* margin-right: 180px; */
    margin-bottom: 10px;

}


.insider-container  header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}

.insider-container li{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
   justify-content: flex-start;
     margin-bottom: 10px;
     

}



.MYNTRA-studio{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 10px;

}


.MYNTRA-studio p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;
}


.MYNTRA-studio   header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}


.Myntra-studio-list{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 250px;
    margin-right: 180px;
    margin-bottom: 10px;

}


.Myntra-studio-list  p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;
}


.Myntra-studio-list  span{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
}

.Myntra-studio-list  li{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
   justify-content: flex-start;
     margin-bottom: 10px;
     

}

.MYNTRA-App-App{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 10px;

}

.MYNTRA-App-App   header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}

.MYNTRA-App-App  p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;
}

.MYNTRA-History{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 10px;

}

.MYNTRA-History   header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}


.MYNTRA-History  p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;
}


.COMPLETE-CONVENIENCE{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 10px;

}

.Hari1{
     margin-top: 30px;
}


.Hari2{
    margin-top: 30px;
}


.COMPLETE-CONVENIENCE    header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}


.COMPLETE-CONVENIENCE  p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;

}

@media screen  and (min-width :1150px)  and (max-width :1423px){

    
    .Footer-container-Footer{
        display: flex;
        justify-content: center;
        gap: 40px;
        
    
    }



    .footer-mobile-Container{
        display: none;
    }

    .POPULAR-SEARCHES .p-seaches p{
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        color:rgb(40, 44, 63);
        margin-left: 70px;     
             
        }


        .Popular-brand{
            align-self: center;
            
       }

       .Flipkart {
        display: flex;
        justify-content: center;
        gap:60px;
        margin-top: 20px;
    }


       .Popular-brand p{
        font-size: 12px;
        font-weight: 400;
        line-height:25px;
        color:rgb(105, 107, 121);
         
        margin: 0 70px;
        
    }

    .Register-Address-conatiner{
        display: flex;
        justify-content: center;
        gap:400px;
        margin-top: 50px;
    }

    .telephone-address p span{
        color:rgb(82, 108, 208);
        font-weight: 500;
    }
    .insider-container{
        display: flex;
        justify-content: center;
        /* /* margin-top: 50px ; */
        margin-left: -100px;
        /* margin-right: 180px; */
        margin-bottom: 10px;
    
    }
    
       
    

}


@media screen and (min-width: 991px) and (max-width: 1150px) {
    .Footer-container-Footer{
        display: flex;
        justify-content: center;
        gap: 30px;
        
    
    }


    .footer-mobile-Container{
        display: none;
    }

    .online-online header{
        font-size: 10px;
        color:rgb(40, 44, 63);
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 15px;
    
    
    }

    .customer-Policies header{
        font-size: 10px;
    }


    .Playstore{
        width: 250px;;
        height: 45px;
    }

    .Myntra-app-playstore header{
        font-size: 10px;
    }

    .original-logo{
        width:45px;
        height: 45px;
        position: relative;
       
    
    }

    .Social-media header{
        font-size: 10px;
    }

    .days14  span{
        font-size: 16px;
        color:rgb(40, 44, 63);
        font-weight: 700;
        line-height: normal;
         
    }

    .days14 .days14-recive{
        font-size: 14px;
        color: rgb(105, 107, 121);
        font-weight: 400;
        line-height: normal;
        font-style: normal;
        margin-left: -100px;
    }


    .original  span{
        font-size: 16px;
    }

    .original p{
        font-size: 14px; 
    }


    .POPULAR-SEARCHES .p-seaches p{
        font-size: 10px;
        font-weight: 700;
        line-height: normal;
        color:rgb(40, 44, 63);
        margin-left: 100px;     
             
        }


        .Popular-brand p{
            font-size: 10px;
            font-weight: 400;
            line-height: 25px;
            color:rgb(105, 107, 121);
            
        }  
        
        .Flipkart {
            gap:50px;
            margin-top: 20px;
        }

        .contact-us p{
            color: rgb(105, 107, 121);
            font-weight: 400;
            font-size: 15px;
            line-height: normal;
        }

        .contact-us  span{
            color: rgb(82, 108, 208);
            font-weight: 600;
        }

        .url p{
            color: rgb(105, 107, 121);
            font-weight: 400;
            font-size: 15px;
            line-height: normal;
        }

        .Flipkart-company header{
            font-size: 15px;
        }


        .Register-Address-conatiner{
            display: flex;
            justify-content: center;
            gap:200px;
            margin-top: 50px;
        }

        .register-address header{
            font-size: 12px;
        }

        .register-address p{
            font-size: 12px; 
        }

        .telephone-address p{
            font-size: 12px;
        }

        .insider-container{
            display: none;
        }


        
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    .Footer-container-Footer{
        display: flex;
        justify-content: center;
        gap: 10px;
        
    
    }


    .footer-mobile-Container{
        display: none;
    }


    .online-online header{
        font-size: 10px;
        margin-bottom: 10px;
    }

    .online-online li{
        font-size: 10px;
        line-height: 15px;
    }

    .customer-Policies header{
        font-size: 10px;
        margin-bottom: 10px;
    }

    .customer-Policies li{
        font-size: 10px;
        line-height: 16px;
    }

    .Playstore{
        width: 200px;;
        height: 40px;
    }

    .original-logo{
        width:30px;
        height: 30px;
        position: relative;
       
    
    }
    .days14-logo{
        width: 30px;
        height: 30px;
    }
    .Store-Store header{
        font-size: 10px;
    }
    .Social-media header{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .original  span{
        font-size: 15px; 
        margin-bottom: 10px;
    }

    .original p{
        font-size: 15px;
        
    }
    .original .Guarantee{
        text-align: center;
    
        margin-top: -10px;
        margin-left: -60px;
    }
    .days14 p{
        font-size: 16px;
        margin-top: 1px;  
    }
    .days14  span{
        font-size: 15px;
    }
    .POPULAR-SEARCHES .p-seaches p{
        font-size: 10px;
        margin-left: 15px; 
    }
    .Popular-brand{
        align-self: center;
        
   }

   .Popular-brand p{
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    color:rgb(105, 107, 121);
    margin: 0 10px;
    
}

.Flipkart {
    gap:20px;
    justify-content: center;
}
.contact-us p{
    font-size: 15px;
}

.contact-us  span{
    color: rgb(82, 108, 208);
    font-weight: 500;
}

.url p{
    font-size: 15px;  
}

.Flipkart-company header{
    font-size: 15px; 
}

.Register-Address-conatiner{
    gap:100px;
}

.ONLINE-SHOPPING{
    display: none;
}
.insider-container{
    display: none;
}
.Myntra-studio-list{
    margin-left: 100px
    
     
}

 
}


@media screen and (max-width:600px){

    .Footer-container{
        display: block;
        width: 100%;
    }

    .Footer-container-Footer{
        display: block;
        

    }
    .online-online{
        display: none;
    }

     
    .footer-mobile-Container{
        display:block;
        width: 100%;
        
         
    }

    .Shop-For{
         display: flex;
         flex-direction: column;
         margin-left: 20px;
        font-family: "Assistant", sans-serif;
         
    }


    .Shop-For .Header{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 25px;
         
        
    }


    .Shop-For  .list{
        text-align: start;
        color:rgb(105, 107, 121);
        text-transform: uppercase;
    }


    .customer-policies-policy{
        margin-left: 20px;
    }


    .customer-policies-policy  .Header{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 15px;
        

    }
    .customer-policies-policy ul{
        display: flex;
        flex-direction: column;
        gap:10px;
        
        color: rgb(105, 107, 121);;
        
    }
     
    .customer-Policies{
        display: none;
    }

    .Store-Store{
        display: none;
    }
    
    .Social-media{
        margin-left: 20px;
    }

    .Social-media header{
        font-size: 20px;
        font-weight: bold;
        /* margin-bottom: 15px;
        margin-top: 15px; */
    }

    .Social-media .logo{
      font-size: 30px;
      gap: 20px;
    }
     
    .original-days14{
        display: none;
    }      
     
    .POPULAR-SEARCHES{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
      }
     
     .POPULAR-SEARCHES .p-seaches p{
        font-size: 20px;
        margin-left: 25px;  
     }
     

     .Popular-brand{
        justify-content: center;
        margin: 0 25px;
        
        
   }
     
   .Popular-brand p{
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    color:rgb(105, 107, 121);
    
}

.Flipkart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.contact-us p{
    font-size: 20px;
    text-align: start;
    margin-top: 20px;
   
}

.url p{
    margin-top: -50px;
}

.Flipkart-company header{
    margin-top: -80px; 
}


.Register-Address-conatiner{
    display: block;
     
    justify-content: center;
    gap:50px;
    margin-top: 50px;
    margin-left: 20px;

}


.register-address p{
    font-size: 15px;
    font-family: "Assistant", sans-serif;
    
}

.telephone-address p{
    font-size: 15px; 
    margin-top: 20px;
     
}

.telephone-address{
    margin-top: 20px;
       
}

.ONLINE-SHOPPING{
    display: block;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 50px;
    margin-right: 50px;
}

.Best-SHOPPING{
 display: block;
 margin-left: 50px;
 margin-right: 50px;

}

.online-shoping-list{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}


.para-para {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}

.AFFORDABLE {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}

.MYNTRA-INSIDER{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}


.insider-container{
    display: none;
}

.MYNTRA-studio{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}


.Myntra-studio-list{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}


.MYNTRA-App-App{
    display: block;
    margin-left: 50px;
    margin-right: 50px;

}

.MYNTRA-History{
    display: block;
    margin-left: 50px;
    margin-right: 50px; 
}

.COMPLETE-CONVENIENCE{
    display: block;
    margin-left: 50px;
    margin-right: 50px; 
}


}



@media screen and (min-width: 601px) and (max-width:767px) {

    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    } 

    .Footer-container{
        display: block;
        width: 100%;
        /* border:2px solid green; */
    }

    .Footer-container-Footer{
        display: block;
        

    }
    .online-online{
        display: none;
    }

     
    .footer-mobile-Container{
        display:block;
        width: 100%;
        
         
    }

    .Shop-For{
         display: flex;
         flex-direction: column;
         margin-left: 20px;
        font-family: "Assistant", sans-serif;
         
    }


    .Shop-For .Header{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 25px;
         
        
    }


    .Shop-For  .list{
        text-align: start;
        color:rgb(105, 107, 121);
        text-transform: uppercase;
    }


    .customer-policies-policy{
        margin-left: 20px;
    }


    .customer-policies-policy  .Header{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 15px;
        

    }
    .customer-policies-policy ul{
        display: flex;
        flex-direction: column;
        gap:10px;
        
        color: rgb(105, 107, 121);;
        
    }
     
    .customer-Policies{
        display: none;
    }

    .Store-Store{
        display: none;
    }
    
    .Social-media{
        margin-left: 20px;
    }

    .Social-media header{
        font-size: 20px;
        font-weight: bold;
        /* margin-bottom: 15px;
        margin-top: 15px; */
    }

    .Social-media .logo{
      font-size: 30px;
      gap: 20px;
    }
     
    .original-days14{
        display: none;
    }      
     
    .POPULAR-SEARCHES{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
      }
     
     .POPULAR-SEARCHES .p-seaches p{
        font-size: 20px;
        margin-left: 25px;  
     }
     

     .Popular-brand{
        justify-content: center;
        margin: 0 25px;
        
        
   }
     
   .Popular-brand p{
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    color:rgb(105, 107, 121);
    
}

.Flipkart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.contact-us p{
    font-size: 20px;
    text-align: start;
    margin-top: 20px;
   
}

.url p{
    margin-top: -50px;
}

.Flipkart-company header{
    margin-top: -80px; 
}


.Register-Address-conatiner{
    display: block;
     
    justify-content: center;
    gap:50px;
    margin-top: 50px;
    margin-left: 20px;

}


.register-address p{
    font-size: 15px;
    font-family: "Assistant", sans-serif;
    
}

.telephone-address p{
    font-size: 15px; 
    margin-top: 20px;
     
}

.telephone-address{
    margin-top: 20px;
       
}

.ONLINE-SHOPPING{
    display: block;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 50px;
    margin-right: 50px;
}

.Best-SHOPPING{
 display: block;
 margin-left: 50px;
 margin-right: 50px;

}

.online-shoping-list{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}


.para-para {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}

.AFFORDABLE {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}

.MYNTRA-INSIDER{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}


.insider-container{
    display: none;
}

.MYNTRA-studio{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}


.Myntra-studio-list{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}


.MYNTRA-App-App{
    display: block;
    margin-left: 50px;
    margin-right: 50px;

}

.MYNTRA-History{
    display: block;
    margin-left: 50px;
    margin-right: 50px; 
}

.COMPLETE-CONVENIENCE{
    display: block;
    margin-left: 50px;
    margin-right: 50px; 
}


}  


