 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Footer-container{
 background-color: rgb(245, 245, 245);
 font-family: "Assistant", sans-serif;
 
}

.Footer-container-Footer{
    display: flex;
    justify-content: center;
    gap: 70px;
    

}


.footer-mobile-Container{
    display: none;
}

.online-online header{
    font-size: 12px;
    color:rgb(40, 44, 63);
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 15px;

}

.online-online li{
    font-size: 14px;
    color:rgb(40, 44, 63);
    font-weight: 400;
    line-height: 30px;
    color: rgb(105, 107, 121);
   list-style-type: none;
}

.customer-Policies header{
    font-size: 12px;
    color:rgb(40, 44, 63);
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 15px;
}


.customer-Policies li{
    font-size: 14px;
    color:rgb(40, 44, 63);
    font-weight: 400;
    line-height: normal;
    color: rgb(105, 107, 121);
   list-style-type: none;
   line-height: 30px;
}


.Playstore{
    width: 150px;;
    height: 50px;
}

 

.original-logo{
    width:50px;
    height: 50px;
    position: relative;
   

}
.original-first{
    display: flex;
}
.days14-recive{
    text-align: end;
    margin-top: -25px;
}

.days14-first{
    display: flex;
    gap: 10px;
}

.days14-logo{
    width: 50px;
    height: 50px;
}


.Store-Store header{
    font-size: 12px;
    color:rgb(40, 44, 63);
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 15px;
}


.Social-media header{
    font-size: 12px;
    color:rgb(40, 44, 63);
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
}



.Social-media .logo{
      margin-right: 20px;
      color: gray;
}

.original-days14{
    width: 260px;
    
}

.original-container{
    margin: 50px 0 40px;
    color: #696b79;
}

.original-section{
    display: inline-block;
    float: left;
    margin-left: -10px;
    margin-right: 15px;
    width:50px;
    height: 50px;
}

.orginal-image{
    width:58px;
    height: 45px;
}

.original-details strong{
    color: black;
    font-weight: 700;
}

.days14-conatainer strong{
    color: black;
    font-weight: 700;
}


.days14-conatainer{
    color: #696b79;

}

.days14-section{
    width:58px;
    height: 50px;
    margin-left: -10px;
    margin-right: 15px;
    width:50px;
    height: 50px;
}

.days-image{
    width:58px;
    height: 45px;
}

.days14-section{
    display: inline-block;
    float: left;

}


.POPULAR-SEARCHES{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  
   
}

.POPULAR-SEARCHES .p-seaches p{
font-size: 14px;
font-weight: 700;
line-height: normal;
color:rgb(40, 44, 63);
/* margin-left: 200px;      */
     
}

.Popular-brand{
     align-self: center;
     margin-left: -40px;
}

.Popular-brand p{
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    color:rgb(105, 107, 121);
    
}

.Flipkart {
    display: flex;
    justify-content: center;
    gap:90px;
    margin-top: 20px;
}

.contact-us p{
    color: rgb(105, 107, 121);
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
}

.contact-us  span{
    color: rgb(82, 108, 208);
    font-weight: 700;
}



.url p{
    color: rgb(105, 107, 121);
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
}

.Flipkart-company header{
    color: rgb(105, 107, 121);
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
}


.Register-Address-conatiner{
    display: flex;
    justify-content: center;
    gap:500px;
    margin-top: 50px;
}


.register-address header{
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color:rgb(40, 44, 63);
}
.register-address p{
     font-size: 15px;
     font-weight: 400;
     color:rgb(148, 150, 159);
     line-height: 20px;

}

.telephone-address p{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color:rgb(148, 150, 159);
}

.telephone-address{
     align-self: flex-end;
}

.telephone-address p span{
    color:rgb(82, 108, 208);
    font-weight: 700;
}

.ONLINE-SHOPPING{
    display: inline-block;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 200px;
    margin-right: 180px;
}


.ONLINE-SHOPPING  header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}

.ONLINE-SHOPPING p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
    justify-content: center;
 
} 

.Best-SHOPPING{

    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 200px;
    margin-right: 180px;

}

.Best-SHOPPING  header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}


.Best-SHOPPING p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 
} 

.online-shoping-list {
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 200px;
    margin-right: 180px;
    margin-bottom: 10px;

}

.online-shoping-list span{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    

}

.online-shoping-list  li{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;

}


.para-para {
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 200px;
    margin-right: 180px;
    margin-bottom: 10px;

}


.para-para p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;

}


.AFFORDABLE {
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 200px;
    margin-right: 180px;
    margin-bottom: 10px;

}


.AFFORDABLE  header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}

.AFFORDABLE  p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;

}

.MYNTRA-INSIDER{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 200px;
    margin-right: 180px;
    margin-bottom: 10px;

}


.MYNTRA-INSIDER p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;
}


.MYNTRA-INSIDER   header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}




.insider-container{
    display: flex;
    justify-content: center;
    /* /* margin-top: 50px ; */
    margin-left: -350px;
    /* margin-right: 180px; */
    margin-bottom: 10px;

}


.insider-container  header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}

.insider-container li{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
   justify-content: flex-start;
     margin-bottom: 10px;
     

}



.MYNTRA-studio{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 200px;
    margin-right: 180px;
    margin-bottom: 10px;

}


.MYNTRA-studio p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;
}


.MYNTRA-studio   header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}


.Myntra-studio-list{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 200px;
    margin-right: 180px;
    margin-bottom: 10px;

}


.Myntra-studio-list  p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;
}


.Myntra-studio-list  span{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
}

.Myntra-studio-list  li{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
   justify-content: flex-start;
     margin-bottom: 10px;
     

}

.MYNTRA-App-App{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 200px;
    margin-right: 180px;
    margin-bottom: 10px;

}

.MYNTRA-App-App   header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}

.MYNTRA-App-App  p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;
}

.MYNTRA-History{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 200px;
    margin-right: 180px;
    margin-bottom: 10px;

}

.MYNTRA-History   header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}


.MYNTRA-History  p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;
}


.COMPLETE-CONVENIENCE{
    display: flex;
    justify-content: center;
    margin-top: 50px ;
    margin-left: 200px;
    margin-right: 180px;
     

}

.Hari1{
     margin-top: 30px;
}


.Hari2{
    margin-top: 30px;
}


.COMPLETE-CONVENIENCE    header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color:rgb(83, 87, 102);
    margin-bottom: 2px;
     
}


.COMPLETE-CONVENIENCE  p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(148, 150, 159);
    line-height: 18px;
 justify-content: center;
 margin-bottom: 10px;

}

 