*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.WBiggestImage-container{
    width: 100%;
}


.WBiggest-Items{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    margin-top: 50px;
    gap:20px;
    
}

.WBiggest-Items-section-1{
    display: flex;
    flex-direction: column;
    background-color: #fbf8f8;
    padding: 20px;
} 

.img-Wb1{
    width: 220px;
    height: 250px;
    border-radius: 4px;
}
.img-Wb12{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}
.img-Wb13{
     
    width: 220px;
    height: 250px;
    margin-top: 50px;
    border-radius: 4px;
}
.img-Wb14{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}



.WBiggest-Items-section-2{
    display: flex;
    flex-direction: column;
    background-color: #fbf8f8;
    padding: 20px;
} 


.img-Wb21{
    width: 220px;
    height: 250px;
    border-radius: 4px;
}
.img-Wb22{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}
.img-Wb23{
    width: 220px;
    height: 250px;
    margin-top: 50px;
    border-radius: 4px;
}
.img-Wb24{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}


.WBiggest-Items-section-3{
    display: flex;
    flex-direction: column;
    background-color: #fbf8f8;
    padding: 20px;
} 

.img-Wb31{
    width: 220px;
    height: 250px;
    border-radius: 4px;
}
.img-Wb32{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}
.img-Wb33{
    width: 220px;
    height: 250px;
    margin-top: 50px;
    border-radius: 4px;
}
.img-Wb34{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px

}



.WBiggest-Items-section-4{
    display: flex;
    flex-direction: column;
    background-color: #fbf8f8;
    padding: 20px;
} 


.img-Wb41{
    width: 220px;
    height: 250px;
    border-radius: 4px;
    
}
.img-Wb42{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}
.img-Wb43{
    width: 220px;
    height: 250px;
    margin-top: 50px;
    border-radius: 4px;
}
.img-Wb44{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}

 
.WBiggest-Items-section-5{
    display: flex;
    flex-direction: column;
    background-color: #fbf8f8;
    padding: 20px;
} 


.img-Wb51{
    width: 220px;
    height: 250px;
    border-radius: 4px;
    
}
.img-Wb52{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}
.img-Wb53{
    width: 220px;
    height: 250px;
    margin-top: 50px;
    border-radius: 4px;
}
.img-Wb54{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}

 