
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.WFootwear-image-container{
    width: 100%;
}
.WFootwear-Items{
    display: grid;
    grid-template-columns: auto auto auto auto auto  ;
    justify-content:center;
    gap:30px
}


.Img-WFootwear-img{
    width:230px;
    height: 250px;
    margin-top: 50px;


}

  