
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.WFootwear-image-container{
    width: 100%;
}
.WFootwear-Items{
    display: grid;
    grid-template-columns: auto auto auto auto auto  ;
    justify-content:center;
    gap:30px
}


.Img-WFootwear-img{
    width:230px;
    height: 280px;
    margin-top: 50px;


}

@media screen  and (min-width :1150px)  and (max-width :1423px)
{
    .WFootwear-Items{
        display: grid;
        grid-template-columns: auto auto auto auto   ;
        justify-content:center;
        gap:30px
    }
    
    
    .Img-WFootwear-img{
        width:250px;
        height: 280px;
        margin-top: 50px;
    
    
    } 
}

@media screen and (min-width: 991px) and (max-width: 1150px) 
{
    .WFootwear-Items{
        display: grid;
        grid-template-columns: auto auto auto  ;
        justify-content:center;
        gap:30px
    }
    
    
    .Img-WFootwear-img{
        width:250px;
        height: 280px;
        margin-top: 50px;
    
    
    } 
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
    .WFootwear-Items{
        display: grid;
        grid-template-columns: auto auto auto  ;
        justify-content:center;
        gap:30px
    }
    
    
    .Img-WFootwear-img{
        width:210px;
        height: 280px;
        margin-top: 50px;
    
    
    } 
}

@media screen and (max-width: 600px) {
    .WFootwear-Items{
        display: grid;
        grid-template-columns: auto auto auto  ;
        justify-content:center;
        gap:30px
    }
    
    
    .Img-WFootwear-img{
        width:130px;
        height: 180px;
        margin-top: 30px;
    
    
    } 

}

@media screen and (min-width: 601px) and (max-width:767px) {


    .WFootwear-Items{
        display: grid;
        grid-template-columns: auto auto auto  ;
        justify-content:center;
        gap:30px
    }
    
    
    .Img-WFootwear-img{
        width:150px;
        height: 180px;
        margin-top: 30px;
    
    
    } 

}