
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.WIndianwear-image-container{
    width: 100%;
}
.WIndianwear-Items{
    display: grid;
    grid-template-columns: auto auto auto auto auto  ;
    justify-content:center;
    gap:30px
}


.Img-WIndianwear-img{
    width:230px;
    height: 300px;
    margin-top: 50px;


}

 