 .CartBag-product-container{
    display: grid;
    grid-template-columns: 850px auto;
    margin-top: 10px;
    border-top: 1px solid rgb(225, 222, 222);
 }

 .CartBag-leftside-container{
     
    width: 80%;
    margin-left: auto;
     
    border-right: 1px solid rgb(225, 222, 222);
     

 }


 .Coupons-rightside-container{
    /* background-color: pink; */
    width: 90%;
    margin-left: auto;
 }