*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.Biggest-Items{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    justify-content: center;
    margin-top: 50px;
    gap:30px;
    
}

.Biggest-Items-section-1{
    display: flex;
    flex-direction: column;
    background-color: #fbf8f8;
    padding: 30px;
} 

.img-b1{
    width: 250px;
    height: 250px;
    border-radius: 4px;
}
.img-b12{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}
.img-b13{
    width: 250px;
    height: 250px;
    margin-top: 50px;
    border-radius: 4px;
}
.img-b14{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}



.Biggest-Items-section-2{
    display: flex;
    flex-direction: column;
    background-color: #fbf8f8;
    padding: 30px;
} 


.img-b21{
    width: 250px;
    height: 250px;
    border-radius: 4px;
}
.img-b22{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}
.img-b23{
    width: 250px;
    height: 250px;
    margin-top: 50px;
    border-radius: 4px;
}
.img-b24{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}


.Biggest-Items-section-3{
    display: flex;
    flex-direction: column;
    background-color: #fbf8f8;
    padding: 30px;
} 


.img-b31{
    width: 250px;
    height: 250px;
    border-radius: 4px;
}
.img-b32{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}
.img-b33{
    width: 250px;
    height: 250px;
    margin-top: 50px;
    border-radius: 4px;
}
.img-b34{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px

}



.Biggest-Items-section-4{
    display: flex;
    flex-direction: column;
    background-color: #fbf8f8;
    padding: 30px;
} 


.img-b41{
    width: 250px;
    height: 250px;
    border-radius: 4px;
    
}
.img-b42{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}
.img-b43{
    width: 250px;
    height: 250px;
    margin-top: 50px;
    border-radius: 4px;
}
.img-b44{
    width: 150px;
    height: 100px;
     align-self: center;
     margin-top: 15px
}

 