.featured-Brands-conatiner p{
    font-size: 36px;
    line-height: normal;
     color:rgb(40, 44, 63);
     font-weight: 700;
     text-transform: uppercase;
     font-style: normal;
     margin-left: 100px;
     margin-top: 100px;


}

.Footer-Home-conatiner{
    margin-top: 100px;
}



