
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.kid-main-container{
    width: 100%;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    
}

 

.Kid-footer-footer{
    margin-top: 100px;
}


 