*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Men-Myntra-Container{
    width: 100%;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    
}

 .Men-Slider-Container{
    margin-bottom: 300px;
 }

 .Footer-mens-Footer{
    margin-top: 100px;
}



