*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Women-Myntra-Container{
    width: 100%;
}

.Women-image-image{
    width: 100%;
    
}

 
.Footer-Women-Footer{
    margin-top: 100px;
}


 