*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.Favorite-Brands-Container{
    width: 100%;


}

.Favorite-Items{
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto auto auto  auto;
    justify-content: center;
    gap:10px;
}

.Img-Favorite-img{
    width: 140px;
    height: 140px;
    margin-top: 70px;
    
}

 