*{
    padding: 0;
    margin:0;
    box-sizing: 0;
}

.Brands-Main-Container{
    width: 100%;
}

.Brands-Brands-Items{
    display: flex;
    margin-top: 80px;
    justify-content: space-evenly;
}

.Img-Brands-img{
    width: 200px;
    height: 200px;
}


 