*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.TopPicks-container{
    width: 100%;
}

.TopPicks-Items{
    display: flex;

}

.Img-TopPicks-img{
    width: 140px;
    height: 100px;
    margin-top: 20px;
}

@media screen  and (min-width :1150px)  and (max-width :1423px)
{

    .TopPicks-Items{
        display:grid;
        grid-template-columns: auto auto auto auto auto auto ;
        justify-content: center;
        gap:30px;
    
    }
    .Img-TopPicks-img{
    width: 140px;
    height: 100px;
    margin-top: 20px;
    border-radius: 4px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1150px) 
{
    .TopPicks-Items{
        display:grid;
        grid-template-columns: auto auto auto auto auto  ;
        justify-content: center;
        gap:30px;
    
    }
    .Img-TopPicks-img{
    width: 140px;
    height: 100px;
    margin-top: 20px;
    border-radius: 4px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) 
{
    .TopPicks-Items{
        display:grid;
        grid-template-columns: auto auto auto auto auto  ;
        justify-content: center;
        gap:20px;
    
    }
    .Img-TopPicks-img{
    width: 120px;
    height: 80px;
    margin-top: 20px;
    border-radius: 4px;
    }
}

@media screen and (max-width: 600px)
{

    .TopPicks-Items{
        display:grid;
        grid-template-columns: auto auto auto auto  ;
        justify-content: center;
        gap:15px;
    
    }

    .Img-TopPicks-img{
        width: 90px;
        height: 80px;
        margin-top: 20px;
        border-radius: 4px;
        }
    
}


@media screen and (min-width: 601px) and (max-width:767px) 
{
    .TopPicks-Items{
        display:grid;
        grid-template-columns: auto auto auto auto  ;
        justify-content: center;
        gap:15px;
    
    }

    .Img-TopPicks-img{
        width: 110px;
        height: 80px;
        margin-top: 20px;
        border-radius: 4px;
        }
}