*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.TopPicks-container{
    width: 100%;
}

.TopPicks-Items{
    display: flex;

}

.Img-TopPicks-img{
    width: 140px;
    height: 100px;
    margin-top: 70px;
}
 