@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
 
  
   
 
    .Navigation-container{
        display: flex;
        justify-content: space-between;
        background-color: white; 
        width: 100%;
        height: 80px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        font-family: "Assistant", sans-serif;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .BarIcon{
      display: none;
    }

    .Myntra-text {
      display: none;
    }
    
    .sidebar{
      display: none;
    }


    .Myntra-image{
        align-self: center;
        margin-left: 63px;
         
         
    }
    
    .image-myntra-image{
        width:40px;
        height: 30px;
        margin-left: -65px;
    }
     
   .Nav-Menu{
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-self: center;
    /* margin-left:-50px; */
    cursor: pointer;
    transition: all 0.3s ease;
     position: relative;
  
      
      
   } 

    

   .Nav-Menu li{
    font-size: 14px;
    font-weight:bold; 
    letter-spacing:0.5px;
    color:rgb(40, 44, 63);
      
     align-self: center;
    
   }

    

   .Nav-Menu li a{
     position: relative;
    text-decoration: none;
    color:rgb(40, 44, 63);
   }

    



   .Nav-Menu li span{
    color:orangered;
    font-size: 10px;
     position:absolute;
      
     

   }
   
    
     
  input::placeholder{
  font-size: 16px;
  font-family: "Assistant", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: start;
   margin-bottom: 20px;
   
} 

.Nav-input-input{
  background-color:#f4efe4;
  align-self: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(242, 240, 240);
}


.search-img{
  align-self: center;
  width: 15px;
  height: 15px;
  margin-right: 15px; 
  margin-left: 10px;
   

}

 
.Nav-input-input  input{
    width: 400px;
    height: 30px;
    padding-top: 5px 0px;
    outline: none;
    border: none;
    background: transparent;
}

  

 .Nav-about-menu {
    display: flex;
    align-self: center;
     gap:5px ;
     margin-right: 50px;
     
    }

    .Profile{
      visibility: visible;
    }
    .Hide-Profile{
      visibility: hidden;
    }

   .Nav-about-menu li{
    list-style-type: none;
    position: relative;
   }

   .Nav-about-menu  div{
    align-items: center;
     
   }

   .li {
     margin-top: 11px;
     gap:10px
   }

   .li p{
    margin-top: -5px;
    font-size: 11px;
    margin-right: 20px;
     
    font-weight: bold;
   }
   .p1{
    margin-left: 8px;
   }
   .p2{
    margin-right: 7px;
   }


    
   .Mens-dropmenu {
     position: absolute;
     top:51px;
     width:1100px;
     left:-30px;
     height: 450px;
     opacity: 0;
     visibility: hidden;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    line-height: 20px;
    padding-left: 20px;
    align-self: self-start;
    padding-right: 10px;
    /* border-top: 2px solid orangered; */
    transition: all 0.3s ease-in-out;
    gap: 10px;
    
   }

   .Men-achor a::after{
    content: "";
    position: absolute;
    background-color:rgb(238, 95, 115);
    height: 3px;
    width:0;
    left:0;
    bottom: -35px;

   }
  
   .Men-achor a:hover::after{
    width: 100%;
   }

    
    
   .colm:nth-child(even){
    /* background-color:rgb(241, 240, 240); */
    background-color:#F0F0F0;
    width:240px;
    height: 450px;
    align-self: self-start;
    
   }


    
  .Mens-dropmenu-conatiner .colm li{
    font-weight: lighter;
    margin-left: 20px;
  }

  .Mens-dropmenu-conatiner .colm li:hover{
    font-weight: bold;
  }

  .Mens-dropmenu-conatiner .colm header{
    text-align: start;
    font-size:14px ;
    margin-left: 20px;
  }

  .Mens-dropmenu{
    line-height: 25px;
  }



     .Mens:hover .Mens-dropmenu{
    opacity: 1;
    visibility: visible;
   }

.Mens-dropmenu header{
    color:rgb(238, 95, 115);
    
   }

   .Mens-dropmenu .Mens-dropmenu-conatiner{
    display: flex;
   justify-content: space-between;
   gap:0px;
   }

.Mens-dropmenu .Mens-dropmenu-conatiner .colm li {
    list-style-type: none;
    text-align: start;
}

 
/* women */


.Women-dropmenu {
  position: absolute;
  top:51px;
  width:1100px;
  left:-30px;
  height: 450px;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: white;
 line-height: 20px;
 padding-left: 20px;
 align-self: self-start;
 padding-right: 10px;
 /* border-top: 2px solid rgb(251, 86, 193); */
 transition: all 0.3s ease-in-out;
   
}

.colw:nth-child(even){
  /* background-color:rgb(241, 240, 240); */
  background-color:#F0F0F0;
  width:250px;
  height: 450px;
 }


.Women-dropmenu-conatiner .colw li{
 font-weight: lighter;
 margin-left: 20px;
}

.Women-dropmenu-conatiner .colw li:hover{
 font-weight: bold;
 
}

.Women-dropmenu-conatiner .colw header{
 text-align: start;
 font-size:16px ;
 margin-left: 20px;
}

.Women-dropmenu{
 line-height: 25px;
}



  .Women:hover .Women-dropmenu{
 opacity: 1;
 visibility: visible;
}

.Women-dropmenu header{
 color:rgb(251, 86, 193);
 
}


.Women-achor a::after{
  content: "";
  position: absolute;
  background-color:rgb(251, 86, 193);
  height: 3px;
  width:0;
  left:0;
  bottom: -35px;

 }

 .Women-achor a:hover::after{
  width: 100%;
 }


.Women-dropmenu .Women-dropmenu-conatiner{
 display: flex;
justify-content: space-between;
gap:0px;
}

.Women-dropmenu .Women-dropmenu-conatiner .colw li {
 list-style-type: none;
 text-align: start;
}



/* kids */
  




.Kids-dropmenu {
  position: absolute;
  top:51px;
  width:1100px;
  left:-30px;
  height: 550px;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: white;
 line-height: 20px;
 padding-left: 20px;
 align-self: self-start;
 padding-right: 10px;
 /* border-top: 2px solid rgb(242, 106, 16); */
 transition: all 0.3s ease-in-out;
 
}


.colk:nth-child(even){
  /* background-color:rgb(241, 240, 240); */
  background-color:#F0F0F0;
  width:250px;
  height: 550px;
 }

.Kids-dropmenu-conatiner .colk li{
 font-weight: lighter;
 margin-left: 20px;
}

.kids-dropmenu-conatiner .colk li:hover{
 font-weight: bold;
}

.Kids-dropmenu-conatiner .colk header{
 text-align: start;
 font-size:16px ;
 margin-left: 20px;
}

.Kids-dropmenu{
 line-height: 25px;
}



  .Kids:hover .Kids-dropmenu{
 opacity: 1;
 visibility: visible;
}

.Kids-dropmenu header{
 color:rgb(242, 106, 16);
 
}


.Kids-achor a::after{
  content: "";
  position: absolute;
  background-color:rgb(242,106,16);
  height: 3px;
  width:0;
  left:0;
  bottom: -35px;

 }

 .Kids-achor a:hover::after{
  width: 100%;
 }


.Kids-dropmenu header{
  color:rgb(251, 86, 193);
  
 }
 
 
  



.Kids-dropmenu .Kids-dropmenu-conatiner{
 display: flex;
justify-content: space-between;
gap:0px;
}

.Kids-dropmenu .Kids-dropmenu-conatiner .colk li {
 list-style-type: none;
 text-align: start;
}


/* home and living */
.Home-dropmenu {
  position: absolute;
  top:51px;
  width:1150px;
  left:-30px;
  height: 480px;
  gap:10px;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: white;
 line-height: 20px;
 padding-left: 20px;
 align-self: self-start;
 padding-right: 10px;
 /* border-top: 2px solid rgb(242, 194, 16); */
 transition: all 0.3s ease-in-out;
 
 
}


 
.col:nth-child(even){
  /* background-color:rgb(241, 240, 240); */
  background-color:#F0F0F0;
  width:250px;
  height:480px ;
 }


.Home-dropmenu-conatiner .col li{
 font-weight: lighter;
 margin-left: 20px;
}

.Home-dropmenu-conatiner .col li:hover{
 font-weight: bold;
}

.Home-dropmenu-conatiner .col header{
 text-align: start;
 font-size:16px ;
 margin-left: 20px;
}

.Home-dropmenu{
 line-height: 25px;
}



  .Home:hover .Home-dropmenu{
 opacity: 1;
 visibility: visible;
}

.Home-dropmenu header{
 color:rgb(242, 194, 16);
 
}


.Home-achor a::after{
  content: "";
  position: absolute;
  background-color:rgb(242,194,16);
  height: 3px;
  width:0;
  left:0;
  bottom: -35px;

 }

 .Home-achor a:hover::after{
  width: 100%;
 }

.Home-dropmenu .Home-dropmenu-conatiner{
 display: flex;
justify-content: space-between;
gap:0px;
}

.Home-dropmenu .Home-dropmenu-conatiner .col li {
 list-style-type: none;
 text-align: start;
}

/* beauty */

.Beauty-dropmenu {
  position: absolute;
  top:51px;
  width:1100px;
  left:-30px;
  height: 450px;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: white;
 line-height: 20px;
 padding-left: 20px;
 align-self: self-start;
 padding-right: 10px;
 /* border-top: 2px solid rgb(13, 183, 175); */
 transition: all 0.3s ease-in-out;
 z-index: 1;
}

.colb:nth-child(even){
  background-color:#F0F0F0;
  width:250px;
  height: 450px;
 }
 
.Beauty-dropmenu-conatiner .colb li{
 font-weight: lighter;
 margin-left: 20px;
}

.Beauty-dropmenu-conatiner .colb li:hover{
 font-weight: bold;
}

.Beauty-dropmenu-conatiner .colb header{
 text-align: start;
 font-size:16px ;
 margin-left: 20px;
}

.Beauty-dropmenu{
 line-height: 25px;
}



  .Beauty:hover .Beauty-dropmenu{
 opacity: 1;
 visibility: visible;
}

.Beauty-dropmenu header{
 color:rgb(13, 183, 175);
 
}


.Beauty-achor a::after{
  content: "";
  position: absolute;
  background-color:rgb(13,183,175);
  height: 3px;
  width:0;
  left:0;
  bottom: -35px;

 }

 .Beauty-achor a:hover::after{
  width: 100%;
 }

.Beauty-dropmenu .Beauty-dropmenu-conatiner{
 display: flex;
justify-content: space-between;
gap:0px;
}

.Beauty-dropmenu .Beauty-dropmenu-conatiner .colb li {
 list-style-type: none;
 text-align: start;
}

.StudioImg{
  
  
  width:400px;
  height: 400px;
}

.Studio a::after{
  content: "";
  position: absolute;
  background-color:rgb(251, 86, 193);
  height: 3px;
  width:0;
  left:0;
  bottom: -35px;

 }

 .Studio- a:hover::after{
  width: 100%;
 }

.Studio-dropmenu {
  position: absolute;
  top:55px;
  left:300px;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  
  
 
 transition: all 0.3s ease-in-out;
 
}
 .Studio:hover .Studio-dropmenu{
 opacity: 1;
 visibility: visible;
}


/* profile */


.Profile-dropmenu {
  
  
 position: absolute; 
 top: 79px; 
 right:60px;   
 width: 290px;
  opacity: 0;
  visibility: hidden;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: white;
 line-height: 25px;
 padding-left: 8px;
 align-self: self-start;
 padding-right: 10px;
 /* border-top: 2px solid rgb(242, 106, 16); */
 transition: all 0.3s ease-in-out;
cursor: pointer;
  
}

  .Nav-about-menu:hover .Profile-dropmenu{
  opacity: 1;
 visibility: visible;
}


.Profile-Profile li{
  font-size: 14px;
  font-weight: 400;
}

.Profile-Profile header{
  font-weight: bolder;
  font-size: 14px;
}
.Profile-Profile .btn-btn {
  font-size: 14px;
  color:rgb(255, 63, 108);
  font-weight: 700;
  padding: 8px 15px;
  text-align: center;
  align-self: auto;
  letter-spacing: 0.2px;
  border-radius: 4px;
  outline: none;
  border: 2px solid whitesmoke;
  margin-top: 5px;
  background:none;
  cursor: pointer;

    
}

 
 


  


.Profile-Profile:hover .btn-btn{
  border: 1px solid rgb(255, 63, 108);
  
}

.Profile-Profile2 li{
  font-size: 15px;
  font-weight: 500; 
  line-height: 30px;
   
} 

 

.Profile-Profile2 li span{
  color:white;
  background-color:rgb(255, 63, 108);
  font-size: 10px;padding:2px 4px;
  border-radius: 4px;
}


/* .Profile ::after{
  content: "";
  position: absolute;
  background-color:rgb(242,106,16);
  height: 3px;
  width:0;
  left:0;
  bottom: -15px;

 }

 .Profile :hover::after{
  width: 100%;
 } */

 .Profile  .p1{
  text-decoration: none;
  color:black;
 }



.Profile-Profile2 li :hover {
  font-weight: bold;
}

.colProfile.Profile-Profile   :hover li{
  font-weight: bold;
}

.Profile-Profile2 {
  margin-top: -10px;
  gap:10px
}
 
.Profile-dropmenu-conatiner .colProfile li:hover{
  font-weight: bold;
  
 }

 .heart a{
  text-decoration: none;
  color:black

 }

 .bag a{
  text-decoration: none;
  color:black

 }


/* for desktop media query */


@media screen  and (min-width :1150px)  and (max-width :1423px)
{
  .Navigation-container{
    display: flex;
    position: sticky;

    z-index: 1;
    background-color: rgb(239, 244, 241); 
    width: 100%;
    height: 80px;
   }  

   .Myntra-image{
    align-self: center;
   }

   .image-myntra-image{
    width:40px;
    height: 32px;

   }

   .Nav-Menu{
    display: flex;
    list-style-type: none;
    gap:15px;
    cursor: pointer;
    align-self: center;
    transition: all 0.3s ease;
     position: relative;
     margin-left: -50px;
   }
   .Nav-Menu li{
    font-size: 12px;
    font-weight:bold; 
    letter-spacing:0.5px;
    color:rgb(40, 44, 63);
      
     align-self: center;
    
   }

   .Nav-Menu li a{
     
    text-decoration: none;
    color:rgb(40, 44, 63);
   }
   
   .Nav-Menu li span{
    color:orangered;
    font-size: 10px;
     position:absolute;
      
     

   }

   .Nav-input-input {
    align-self: center;
    outline: none;
    border: none;
     
   }
   
   .Nav-input-input input {
    align-self: center;
    outline: none;
    border: none;
  background-color:#f4efe4;
    
   }

   .search-img{
    width:15px;
    height:15px;
     
    
     
     
   }

   .Nav-input-input button{
    margin-left:-100px;
    outline:none;
    border:none;
    height:35px;
    border-radius:4px;
    background-color:#F8F8FF;
    margin-left: 10px;
     
 }

 .Nav-input-input  input{
  width:300px;
  height:30px;
  background-color:#f4efe4;
   
}

.Nav-about-menu li{
  list-style-type: none;
  position: relative;
  margin-right: 10px;
 }


 .Nav-about-menu  div{
  align-items: center;
   
 }
 .li p{
  margin-top: -5px;
  font-size: 12px;
  margin-right: 20px;
   
  font-weight: bold;
 }

 .Mens-dropmenu {
  position: absolute;
  top:51px;
  width:900px;
  left:-30px;
  height: 400px;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  line-height: 20px;
  padding-left: 20px;
  align-self: self-start;
  padding-right: 10px;
 /* border-top: 2px solid orangered; */
 transition: all 0.3s ease-in-out;
 
}

.colm:nth-child(even){
  /* background-color:rgb(241, 240, 240); */
  background-color:#F0F0F0;
  width:250px;
  height: 400px;
 }

 
.Mens-dropmenu{
  line-height: 20px;
}

.Mens-dropmenu-conatiner .colm header{
  text-align: start;
  font-size:13px ;
}

.Mens:hover .Mens-dropmenu{
  opacity: 1;
  visibility: visible;
 }

 .Mens-dropmenu-conatiner .colm li{
  font-weight: lighter;
}




/* women */
.Women-dropmenu{
  position: absolute;
  top:51px;
  width:900px;
  height: 400px;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  line-height: 20px;
  padding-left: 20px;
  align-self: self-start;
  padding-right: 10px;
 /* border-top: 2px solid orangered; */
 transition: all 0.3s ease-in-out;
}

.colw:nth-child(even){
  /* background-color:rgb(241, 240, 240); */
  background-color:#F0F0F0;
  width:250px;
  height: 400px;
 }

 .Women-dropmenu .Women-dropmenu-conatiner{
  display: flex;
 justify-content: space-between;
 gap:10px;
 }

 .Women-dropmenu-conatiner .colw header{
  text-align: start;
  font-size:13px ;
 }
 .Women-dropmenu-conatiner .colw li{
  font-weight: lighter;
 }

 .Women-dropmenu{
  line-height:20px;
 }
 
/* kid */
.Kids-dropmenu {
  position: absolute;
  top:51px;
  width:900px;
  left:-30px;
  height: 410px;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: white;
 line-height: 20px;
 padding-left: 20px;
 align-self: self-start;
 padding-right: 10px;
 /* border-top: 2px solid rgb(242, 106, 16); */
 transition: all 0.3s ease-in-out;
}


.colk:nth-child(even){
  /* background-color:rgb(241, 240, 240); */
  background-color:#F0F0F0;
  width:250px;
  height: 410px;
 }

 .Kids-dropmenu-conatiner .colk li{
  font-weight: lighter;
 }

 .Kids-dropmenu-conatiner .colk header{
  text-align: start;
  font-size:13px ;
 }

 .Kids-dropmenu{
  line-height: 20px;
 }
 .Kids-dropmenu .Kids-dropmenu-conatiner{
  display: flex;
 justify-content: space-between;
 gap:10px;
 }

/* Home */

.Home-dropmenu {
  position: absolute;
  top:51px;
  width:900px;
  left:-30px;
  height: 400px;
  gap:10px;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: white;
 line-height: 20px;
 padding-left: 20px;
 align-self: self-start;
 padding-right: 10px;
 /* border-top: 2px solid rgb(242, 194, 16); */
 transition: all 0.3s ease-in-out;
 
}
.col:nth-child(even){
  /* background-color:rgb(241, 240, 240); */
  background-color:#F0F0F0;
  width:250px;
  height: 400px;
 }

.Home-dropmenu-conatiner .col header{
  text-align: start;
  font-size:13px ;
 }

 .Home-dropmenu{
  line-height: 20px;
 }

/* beauty */

.Beauty-dropmenu {
  position: absolute;
  top:51px;
  width:900px;
  left:-30px;
  height: 450px;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: white;
 line-height: 20px;
 padding-left: 20px;
 align-self: self-start;
 padding-right: 10px;
 /* border-top: 2px solid rgb(13, 183, 175); */
 transition: all 0.3s ease-in-out;
}

.colb:nth-child(even){
  background-color:#F0F0F0;
  width:250px;
  height: 450px;
 }

 .Beauty-dropmenu-conatiner .colb header{
  text-align: start;
  font-size:13px ;
 }
 .Beauty-dropmenu{
  line-height: 25px;
 }

 .Beauty-dropmenu .Beauty-dropmenu-conatiner{
  display: flex;
 justify-content: space-between;
 gap:20px;
 }
 
}