/* Large device(laptop and more 992px) */


@media screen and (min-width: 991px) and (max-width: 1150px) {
    .Navigation-container{
        width: 100%;
        /* background-color: aqua; */
        background-color: white;
        display:flex;

    }

    .Nav-Menu{
        
        position: fixed;
        bottom: 0;
        left:0;
        width: 100%;
        /* background-color: aquamarine; */
        background-color: white;
        height: 60px;
        justify-content: space-around;
        z-index: 1;
        
    }


    .Nav-input-input{
      background-color:#f4efe4;
      align-self: center;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid rgb(242, 240, 240);
    }
    

    .Nav-Menu li{
        font-size: 20px;
        font-weight:bold; 
        letter-spacing:0.5px;
        color:rgb(40, 44, 63);
          
         align-self: center;
         position: relative;
         text-align: center;
        
       }

     .Mens-dropmenu {
        position: absolute;
        left:20px;
         top:-440px;
         width:900px;
          
         height: 420px;
         opacity: 0;
         visibility: hidden;
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: white;
     } 

     .Mens-dropmenu-conatiner .colm li{
        font-size: 10px;
        width: 100%;
     }
     .Mens-dropmenu .Mens-dropmenu-conatiner{
        display: flex;
       justify-content: space-between;
       gap:10px;
       }
       .Mens-dropmenu-conatiner .colm header{
         text-align: start;
         font-size:12px ;
         margin-left: 20px;
       }
    
       .colm:nth-child(even){
        /* background-color:rgb(241, 240, 240); */
        background-color:#F0F0F0;
        width:150px;
        height: 420px;
       }
    
       .Mens:hover .Mens-dropmenu{
        opacity: 1;
        visibility: visible;
       }


       /* women */
       .Women-dropmenu {
        position: absolute;
         left:-130px;
         top:-465px;
         width:950px;
          
         height: 440px;
         opacity: 0;
         visibility: hidden;
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: white;
       }

       .Women-dropmenu-conatiner .colw li{
        font-weight: lighter;
        font-size: 9.5px;
        width: 100%;
       }

       .Women-dropmenu-conatiner .colw header{
         text-align: start;
         font-size:12px ;
         margin-left: 20px;
       }

       .Women-dropmenu .Women-dropmenu-conatiner{
        display: flex;
       justify-content: space-between;
       gap:30px;
       }
      
       .colw:nth-child(even){
        /* background-color:rgb(241, 240, 240); */
        background-color:#F0F0F0;
        width:160px;
        height: 440px;
       }

       
    .Women:hover .Women-dropmenu{
    opacity: 1;
    visibility: visible;
   }

   /* kids */
   .Kids-dropmenu   {
      position: absolute;
         left:-320px;
         top:-440px;
         width:950px;
          
         height: 420px;
         opacity: 0;
         visibility: hidden;
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: white;
   }    
    
   .colk:nth-child(even){
    /* background-color:rgb(241, 240, 240); */
    background-color:#F0F0F0;
    width:170px;
    height: 420px;
   }

   .kids-dropmenu-conatiner .colk header{
      text-align: start;
      font-size:10px ;
      margin-left: 20px;
    }

   .Kids-dropmenu-conatiner .colk li{
    font-weight: lighter;
    font-size: 10px;
    width: 100%;
   }
   
   .Kids-dropmenu .Kids-dropmenu-conatiner{
    display: flex;
   justify-content: space-between;
   gap:10px;
   }

   
  .Kids:hover .Kids-dropmenu{
    opacity: 1;
    visibility: visible;
   }


   /* Home */

   .Home-dropmenu   {
    position: absolute;
       left:-450px;
       top:-508px;
       width:900px;
        
       height: 480px;
       opacity: 0;
       visibility: hidden;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: white;
 }    
  
 .col:nth-child(even){
  /* background-color:rgb(241, 240, 240); */
  background-color:#F0F0F0;
  width:150px;
  height: 480px;
 }

 .Home-dropmenu-conatiner .col li{
  font-weight: lighter;
  font-size: 10px;
  width: 100%;
 }
 .Home-dropmenu-conatiner .col header{
   text-align: start;
   font-size:10px ;
   margin-left: 20px;
 }
 
 .Home-dropmenu .Home-dropmenu-conatiner{
  display: flex;
 justify-content: space-between;
 gap:10px;
 }

 
.Home:hover .Home-dropmenu{
  opacity: 1;
  visibility: visible;
 }



 /* Beauty */


 .Beauty-dropmenu   {
    position: absolute;
       left:-680px;
       top:-450px;
       width:890px;
        
       height: 420px;
       opacity: 0;
       visibility: hidden;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: white;
 }    
  
 .colb:nth-child(even){
  /* background-color:rgb(241, 240, 240); */
  background-color:#F0F0F0;
  width:150px;
  height: 420px;
 }

 .Beauty-dropmenu-conatiner .colb li{
  font-weight: lighter;
  font-size: 10px;
  width: 100%;
 }

 .Beauty-dropmenu-conatiner .colb header{
   text-align: start;
   font-size:10px ;
   margin-left: 20px;
 }
 
 .Beauty-dropmenu .Home-dropmenu-conatiner{
  display: flex;
 justify-content: space-between;
 /* gap:10px; */
 }

 
.Beauty:hover .Home-dropmenu{
  opacity: 1;
  visibility: visible;
 }

 /* Studio */
 .Studio-dropmenu{
    position: absolute;
       left:-500px;
       top:-514px;
       width:400px;
        
       height: 500px;
       opacity: 0;
       visibility: hidden;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: white;
 }


}



/* Tablet and Medium device and  */


 


@media screen and (min-width: 768px) and (max-width: 991px) {
    .Navigation-container{
        width: 100%;
        /* background-color: rgb(255, 196, 0); */
        background-color: white;
        display:flex;

    }  

    .Nav-input-input  input{
        width:300px;
        height:25px;
        background-color:#f4efe4;

    }

    .Nav-input-input button{
        height:35px;
    }

    .Nav-Menu{
        
        position: fixed;
        bottom: 0;
        left:0;
        width: 100%;
        /* background-color:rgb(255, 196, 0); */
        background-color: white;
        height: 60px;
        justify-content: space-around;
        z-index: 1;
        
    }

    .Nav-Menu li span{
        color:orangered;
        font-size: 8px;
         position:absolute;
          
         
    
       }

    .Nav-Menu li{
        font-size: 18px;
        font-weight:bold; 
        letter-spacing:0.5px;
        color:rgb(40, 44, 63);
          
         align-self: center;
         position: relative;
         text-align: center;
        padding: 3px;
         
       }

     .Mens-dropmenu {
        position: absolute;
         
         top:-370px;
         width:760px;
         margin-left: 20px; 
         height: 350px;
         opacity: 0;
         visibility: hidden;
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: white;
     } 

     .Mens-dropmenu{
        line-height: 15px;
      }
    

     .Mens-dropmenu-conatiner .colm li{
        font-size: 10px;
        width: 100%;

     }

     .Mens-dropmenu-conatiner .colm header{
        text-align: start;
        font-size:10px ;
        margin-top: 10px;
      }
     .Mens-dropmenu .Mens-dropmenu-conatiner{
        display: flex;
       justify-content: space-between;
       gap:5px;
       }
    
       .colm:nth-child(even){
        /* background-color:rgb(241, 240, 240); */
        background-color:#F0F0F0;
        width:200px;
        height: 350px;
       }
    
       .Mens:hover .Mens-dropmenu{
        opacity: 1;
        visibility: visible;
       }


       /* women */
       .Women-dropmenu {
        position: absolute;
         left:-150px;
         top:-370px;
         width:750px;
          margin-left: 20px;
         height: 350px;
         opacity: 0;
         visibility: hidden;
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: white;
        z-index: 1;
     } 

     .Women-dropmenu{
        line-height: 15px;
      }
    

     .Women-dropmenu-conatiner .colw li{
        font-size: 10px;
        width: 100%;
     }

     .Women-dropmenu-conatiner .colw header{
        text-align: start;
        font-size:10px ;
        margin-top: 10px;
      }
     .Women-dropmenu .Women-dropmenu-conatiner{
        display: flex;
       justify-content: space-between;
       gap:10px;
       }
    
       .colw:nth-child(even){
        /* background-color:rgb(241, 240, 240); */
        background-color:#F0F0F0;
        width:200px;
        height: 350px;
       }
    
       .Women:hover .Women-dropmenu{
        opacity: 1;
        visibility: visible;
       }


   /* kids */
   .Kids-dropmenu {
    position: absolute;
     left:-260px;
     top:-400px;
     width:750px;
     margin-left: 20px; 
     height: 380px;
     opacity: 0;
     visibility: hidden;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    z-index: 1;
 } 

 .Kids-dropmenu{
    line-height: 15px;
  }


 .Kids-dropmenu-conatiner .colk li{
    font-size: 10px;
    width: 100%;
 }

 .Kids-dropmenu-conatiner .colk header{
    text-align: start;
    font-size:10px ;
    margin-top: 5px;
  }
 .kids-dropmenu .Kids-dropmenu-conatiner{
    display: flex;
   justify-content: space-between;
   gap:10px;
   }

   .colk:nth-child(even){
    /* background-color:rgb(241, 240, 240); */
    background-color:#F0F0F0;
    width:230px;
    height: 380px;
     
   }

   .Kids:hover .kids-dropmenu{
    opacity: 1;
    visibility: visible;
   }

   /* Home */

   .Home-dropmenu {
    position: absolute;
     left:-370px;
     top:-420px;
     width:750px;
      margin-left: 10px;
     height: 400px;
     opacity: 0;
     visibility: hidden;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
 } 

 .Home-dropmenu{
    line-height: 15px;
  }


 .Home-dropmenu-conatiner .col li{
    font-size: 10px;
    width: 100%;
 }

 .Home-dropmenu-conatiner .col header{
    text-align: start;
    font-size:10px ;
    margin-top: 15px;
  }
 .Home-dropmenu .Home-dropmenu-conatiner{
    display: flex;
   justify-content: space-between;
   gap:10px;
   }

   .col:nth-child(even){
    /* background-color:rgb(241, 240, 240); */
    background-color:#F0F0F0;
    width:150px;
    height:400px;
   }

   .Home:hover .Home-dropmenu{
    opacity: 1;
    visibility: visible;
   }



 /* Beauty */


 .Beauty-dropmenu   {
     
        position: absolute;
         left:-560px;
         top:-370px;
         width:760px;
          
         height: 350px;
         opacity: 0;
         visibility: hidden;
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: white;
     } 
    
     .Beauty-dropmenu{
        line-height: 15px;
      }
    
    
     .Beauty-dropmenu-conatiner .colb li{
        font-size: 10px;
        width: 100%;
     }
    
     .Beauty-dropmenu-conatiner .colb header{
        text-align: start;
        font-size:10px ;
        margin-top: 10px;
      }
     .Beauty-dropmenu .Beauty-dropmenu-conatiner{
        display: flex;
       justify-content: space-between;
        
       }
    
       .colb:nth-child(even){
        /* background-color:rgb(241, 240, 240); */
        background-color:#F0F0F0;
        width:150px;
        height: 350px;
       }
    
       .Beauty:hover .Beauty-dropmenu{
        opacity: 1;
        visibility: visible;
       }
    
    
    

 /* Studio */
 .Studio-dropmenu{
    position: absolute;
       left:-500px;
       top:-428px;
       width:400px;
        
       height: 400px;
       opacity: 0;
       visibility: hidden;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: white;
 }



 .Profile-dropmenu {
  
  
   position: absolute; 
   top: 79px; 
   right:60px;   
   width: 290px;
    opacity: 0;
    visibility: hidden;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   background-color: white;
   line-height: 25px;
   padding-left: 8px;
   align-self: self-start;
   padding-right: 10px;
   /* border-top: 2px solid rgb(242, 106, 16); */
   transition: all 0.3s ease-in-out;
  cursor: pointer;
    
  }
  
    .Nav-about-menu:hover .Profile-dropmenu{
    opacity: 1;
   visibility: visible;
  }
  
  
  .Profile-Profile li{
    font-size: 14px;
    font-weight: 400;
  }
  
  .Profile-Profile header{
    font-weight: bolder;
    font-size: 14px;
  }
  .Profile-Profile .btn-btn {
    font-size: 14px;
    color:rgb(255, 63, 108);
    font-weight: 700;
    padding: 8px 15px;
    text-align: center;
    align-self: auto;
    letter-spacing: 0.2px;
    border-radius: 4px;
    outline: none;
    border: 2px solid whitesmoke;
    margin-top: 5px;
    background:none;
    cursor: pointer;
  
      
  }
  
    
  
  
  .Profile-Profile:hover .btn-btn{
    border: 1px solid rgb(255, 63, 108);
    
  }
  
  .Profile-Profile2 li{
    font-size: 15px;
    font-weight: 500; 
    line-height: 30px;
     
  } 
  
   
  
  .Profile-Profile2 li span{
    color:white;
    background-color:rgb(255, 63, 108);
    font-size: 10px;padding:2px 4px;
    border-radius: 4px;
  }
  
  .Profile-Profile2 li :hover {
    font-weight: bold;
  }
  
  .colProfile.Profile-Profile   :hover li{
    font-weight: bold;
  }
  
  .Profile-Profile2 {
    margin-top: -10px;
    gap:10px
  }
   
  .Profile-dropmenu-conatiner .colProfile li:hover{
    font-weight: bold;
  }  


}



