*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ShopBy-container{
     
     
}

.Image-Image-shopby{
    width: 100%;
    
}

.Img-Img-img{
    width: 200px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow: rgba(109, 16, 180, 0.35) 0px -50px 36px -28px inset;
    margin-top: 20px;
    border-radius: 2px;
}

.ShopBy-Items{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
    justify-content:center;
    
}

@media screen  and (min-width :1150px)  and (max-width :1423px)
{

    .Image-Image-shopby{
        width: 100%;
        
    }

    .Img-Img-img{
        width: 150px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        box-shadow: rgba(109, 16, 180, 0.35) 0px -50px 36px -28px inset;
        margin-top: 20px;
        border-radius: 2px;
    }
}



@media screen and (min-width: 991px) and (max-width: 1150px) 
{
    .Image-Image-shopby{
        width: 100%;
        
    }


    .Img-Img-img{
        width: 180px;
        height: 210px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        box-shadow: rgba(109, 16, 180, 0.35) 0px -50px 36px -28px inset;
        margin-top: 20px;
        border-radius: 2px;
    }

    .ShopBy-Items{
        display: grid;
        grid-template-columns: auto auto auto auto auto ;
        gap: 20px;
        justify-content:center;
        
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) 
{

    .Image-Image-shopby{
        width: 100%;
        
    }

    .Img-Img-img{
        width: 150px;
        height: 190px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        box-shadow: rgba(109, 16, 180, 0.35) 0px -50px 36px -28px inset;
        margin-top: 20px;
        border-radius: 2px;
    }

    .ShopBy-Items{
        display: grid;
        grid-template-columns: auto auto auto auto ;
        gap: 20px;
        justify-content:center;
        
    }

}

@media screen and (max-width: 600px){
    
    .Image-Image-shopby{
        width: 100%;
        
    }

    .Img-Img-img{
        width: 100px;
        height: 150px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        box-shadow: rgba(109, 16, 180, 0.35) 0px -50px 36px -28px inset;
        margin-top: 20px;
        border-radius: 2px;
    }

    .ShopBy-Items{
        display: grid;
        grid-template-columns: auto auto auto  ;
        gap: 20px;
         
        
    }
    
}

@media screen and (min-width: 601px) and (max-width:767px) {

    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    } 

    .Image-Image-shopby{
        width: 100%;
        
    }

    .Img-Img-img{
        width: 100px;
        height: 150px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        box-shadow: rgba(109, 16, 180, 0.35) 0px -50px 36px -28px inset;
        margin-top: 20px;
        border-radius: 2px;
    }

    .ShopBy-Items{
        display: grid;
        grid-template-columns: auto auto auto  auto  auto;
        gap: 20px;
         
        
    }


}   
