
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.Accessories-image-container{
    width: 100%;
}
.Accssories-Items{
    display: grid;
    grid-template-columns: auto auto auto auto auto  ;
    justify-content:center;
    gap:30px
}


.Img-Accssories-img{
    width:230px;
    height: 350px;
    margin-top: 50px;


}

 