
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.Accessories-image-container{
    width: 100%;
}
.Accssories-Items{
    display: grid;
    grid-template-columns: auto auto auto auto auto  ;
    justify-content:center;
    gap:30px
}


.Img-Accssories-img{
    width:230px;
    height: 280px;
    margin-top: 50px;


}

@media screen  and (min-width :1150px)  and (max-width :1423px)
{
    .Img-Accssories-img{
        width:190px;
        height: 250px;
        margin-top: 50px;
    
    
    }
    
}

@media screen and (min-width: 991px) and (max-width: 1150px) 
{
    .Accssories-Items{
        display: grid;
        grid-template-columns: auto auto auto    ;
        justify-content:center;
        gap:40px
    }
    
    
    .Img-Accssories-img{
        width:250px;
        height: 290px;
        margin-top: 50px;
    
    
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) 
{
    .Accssories-Items{
        display: grid;
        grid-template-columns: auto auto auto    ;
        justify-content:center;
        gap:40px
    }
    
    
    .Img-Accssories-img{
        width:200px;
        height: 250px;
        margin-top: 50px;
    
    
    }
}

@media screen and (max-width:600px) {
    .Accssories-Items{
        display: grid;
        grid-template-columns: auto auto   ;
        justify-content:center;
        gap:30px
    }
    
    
    .Img-Accssories-img{
        width:180px;
        height: 250px;
        margin-top: 30px;
    
    
    }
    
}

@media screen and (min-width: 600px) and (max-width:767px)
{
    .Accssories-Items{
        display: grid;
        grid-template-columns: auto auto  auto  ;
        justify-content:center;
        gap:30px
    }
    
    
    .Img-Accssories-img{
        width:150px;
        height: 220px;
        margin-top: 30px;
    
    
    }
     
}